@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-pv-table {
    p.item-name {
        @mixin ellipsis 400px;
        vertical-align: bottom;
    }
}

.biz-cluster-wrapper {
    background: #fafafa;
    border: 1px solid #c4c6cc;
    padding: 0 10px;
    height: 36px;
    line-height: 34px;
    float: right;
    margin-right: -2px;
    border-radius: 2px 0 0 2px;
    font-size: 13px;
}

@media screen and (max-width: $mediaWidth) {
    .biz-pv-table {
        p.item-name {
            @mixin ellipsis 200px;
            vertical-align: bottom;
        }
    }
}
