@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-app-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-metric-manage-create {
    .left {
        i {
            font-weight: 700;
            font-size: 14px;
            top: -1px;
        }

        .text {
            margin-left: 2px;
        }

        button {
            padding: 0 20px;
        }
    }
}


.biz-lock-box {
    text-align: left;
    margin: 20px 20px 0 20px;

    .lock-wrapper {
        background-color: #F0F8FF;
        border: 1px solid #A3C5FD;
        border-radius: 2px;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: #63656E;
        padding: 0 12px;
        &.warning {
            border-color: #FFB848;
            background-color: #FFF4E2;

            .bcs-icon {
                color: #FFB848;
            }
        }
    }

    .bcs-icon {
        color: #3A84FF;
        font-size: 14px;
        margin-right: 3px;
    }

    .desc {
        font-weight: normal;
        color: #63656E;
    }

    .action {
        float: right;
    }
}

.biz-panel-header {
    .right {
        .biz-search-input {
            input {
                padding-right: 30px;
            }
        }
    }
}

.biz-metric-manage-table {
    > thead > tr > th {
        color: #313238;
    }
    > tbody >tr > td {
        height: 50px;
        color: #63656e;
    }
    .bk-text-button {
        color: #3a84ff;
    }

    .icon-right-shape,
    .icon-down-shape {
        cursor: pointer;
        color: #c4c6cc;
    }
    &.has-table-hover>tbody>tr.no-hover:hover {
        background-color: transparent;
    }

    p.item-name {
        @mixin ellipsis 300px;
        cursor: pointer;
        vertical-align: bottom;
        color: #3a84ff;
    }

    p.service-name {
        @mixin ellipsis 300px;
        vertical-align: bottom;
    }

    .act {
        /* text-align: right; */
        display: flex;
        padding-right: 30px;
        .disabled {
            cursor: not-allowed;
            color: #c3cdd7;
        }
        .bk-text-button+.bk-text-button {
            margin-left: 0 !important;
        }
        .bk-text-button.metric-query {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.biz-metric-manage-sub-table {
    border-bottom: none;
    > thead > tr > th {
        color: #313237;
        background-color: #fff;
    }
    > tbody >tr > td {
        color: #63656e;
    }
    p.sub-item-name {
        @mixin ellipsis 200px;
        vertical-align: bottom;
        color: #63656e;
    }
    .health {
        color: #fff;
        padding: 0 5px;
        &.up {
            background-color: #00c873;
        }
        &.down {
            background-color: #ea3636;
        }
    }
    .labels-wrapper {
        /* float: left;
        overflow: visible;
        height: auto;
        padding-right: 40px; */
        padding: 10px 0 5px;
        .labels-inner {
            display: flex;
            border: 1px solid $borderWeightColor;
            border-radius: 2px;
            height: 24px;
            line-height: 21px;
            float: left;
            margin-bottom: 5px;
            font-size: 0;

            .bk-tooltip-rel {
                height: 17px;
                line-height: 22px;
            }

            .key,
            .value {
                @mixin ellipsis 170px;
                font-size: 12px;
                text-align: center;
                padding: 0 10px;
            }

            .key {
                background-color: #fff;
                border-right: 1px solid $borderWeightColor;
            }

            .value {
                background-color: $bgHoverColor;
            }
        }
    }
}

.instance-title {
    border-bottom: 1px solid $border-weight-color;
    background-color: #fff;
    height: 60px;
    line-height: 59px;
    font-size: 16px;
    padding: 0 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.biz-page-box {
    padding: 20px;
}

.biz-metric-instance-table {
    background-color: #fff;
    border: 1px solid $border-weight-color;
    margin-top: -1px;
    border-left: none;
    border-right: none;

    >thead tr th {
        height: 40px;
    }

    >tbody tr td {
        height: 40px;
        font-size: 12px;
    }
}

.biz-metric-manage-dialog {
    .bk-dialog-tool {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.biz-metric-update-dialog {
    .title {
        color: #333;
        font-size: 20px;
    }
    .info {
        font-size: 14px;
        color: #333;
        font-weight: 700;
    }
}

@media screen and (max-width: $mediaWidth) {
    .biz-metric-manage-table {
        &.has-table-hover>tbody>tr.no-hover:hover {
            background-color: transparent;
        }

        p.item-name,
        p.service-name {
            @mixin ellipsis 170px;
            vertical-align: bottom;
        }

        td.act {
            /* text-align: right; */
            padding-right: 20px;
        }
    }
}
