@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-app-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-metric-manage-create {
    .left {
        i {
            font-weight: 700;
            font-size: 14px;
            top: -1px;
        }

        .text {
            margin-left: 2px;
        }

        button {
            padding: 0 20px;
        }
    }
}

.biz-panel-header {
    .right {
        .biz-search-input {
            input {
                padding-right: 30px;
            }
        }
    }
}

.biz-metric-manage-table {
    &.has-table-hover>tbody>tr.no-hover:hover {
        background-color: transparent;
    }

    p.item-name {
        @mixin ellipsis 260px;
        vertical-align: bottom;
    }

    p.item-uri {
        @mixin ellipsis 300px;
        vertical-align: bottom;
    }

    td.act {
        text-align: right;
        padding-right: 30px;
    }
}

.biz-metric-manage-create-sideslider {
    margin: 0;
    padding: 0;
    z-index: 999;

    .wrapper {
        padding: 40px 32px;
    }

    .flex-item {
        display: flex;

        .left,
        .right {
            flex: 1;
        }

        .right {
            margin-left: 35px;
        }
    }

    .create-form {
        .bk-form-item+.bk-form-item {
            margin-top: 20px;
        }

        .red {
            color: red;
            margin-right: 3px;
            position: relative;
            top: 2px;
        }

        .label {
            color: $fontWeightColor;
            font-size: 14px;
        }

        .text-input-half {
            width: 270px;

            &.has-suffix {
                width: 195px;
                float: left;
                border-radius: 2px 0 0 2px;
            }
        }

        .suffix {
            height: 32px;
            text-align: center;
            line-height: 30px;
            display: inline-block;
            background: $bgHoverColor;
            border: 1px solid #c4c6cc;
            color: $fontWeightColor;
            font-size: 14px;
            border-radius: 0 2px 2px 0;
            font-size: 14px;
            border-left: none;
            width: 75px;
            float: left
        }

        .http-header {
            .operator {
                padding: 0 3px;
            }
        }

        .action-inner {
            margin-top: 30px;

            button {
                width: 90px;
            }

            button+button {
                margin-left: 0;
            }
        }
    }

    button.disabled {
        background-color: #fafafa;
        border-color: $borderLightColor;
        color: #ccc;
        cursor: not-allowed;

        &:hover {
            background-color: #fafafa;
            border-color: $borderLightColor;
        }
    }

    .bk-dialog-title {
        font-size: 24px;
    }

    .bk-form-radio {
        padding: 0 0 7px 0;
    }

    .del-count {
        min-width: 36px;
        height: 36px;
        text-align: center;
        line-height: 34px;
        display: inline-block;
        vertical-align: bottom;
        background-color: $bgHoverColor;
        border: 1px solid #c4c6cc;
        color: $fontWeightColor;
        font-size: 14px;
        border-radius: 2px 0 0 2px;
        padding: 0 10px 0 15px;
        font-size: 14px;
        border-right: none;
    }

    .del-count-input {
        width: 358px;
        font-size: 14px;
        border-radius: 0 2px 2px 0;
        margin-right: 7px;
    }

    .del-count-dropdown-menu {
        float: left;
    }

    .del-count-icon-angle-down {
        padding-left: 12px;
        font-weight: 700;
        font-size: 10px;
        width: 12px;
        min-width: 12px;
        color: #c3cdd7;
    }

    .del-count-icon-info {
        font-size: 18px;
        color: #c3cdd7;
        vertical-align: middle;
        cursor: pointer;
    }

    .update-interval-input {
        width: 134px;
        font-size: 14px;
        border-radius: 2px 0 0 2px;
        float: left;
    }

    .update-interval-icon-info {
        font-size: 18px;
        color: #c3cdd7;
        vertical-align: middle;
        cursor: pointer;
    }

    .scroll-order-form-item {
        padding-top: 7px;

        .bk-form-radio {
            margin-right: 39px;
        }
    }

    .scroll-order-icon-info {
        font-size: 18px;
        color: #c3cdd7;
        vertical-align: middle;
        cursor: pointer;
    }
}

.instance-title {
    border-bottom: 1px solid $border-weight-color;
    background-color: #fff;
    height: 60px;
    line-height: 59px;
    font-size: 16px;
    padding: 0 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.biz-page-box {
    padding: 20px;
}

.biz-metric-instance-table {
    background-color: #fff;
    border: 1px solid $border-weight-color;
    margin-top: -1px;
    border-left: none;
    border-right: none;

    >thead tr th {
        height: 40px;
    }

    >tbody tr td {
        height: 40px;
        font-size: 12px;
    }
}

.prometheus-item {
    border-radius: 2px;
    overflow: hidden;
    margin-top: 33px !important;
    background: rgba(250, 251, 253, 1);
    border: 1px solid rgba(221, 228, 235, 1);

    .bk-form-checkbox {
        float: right;
    }

    .bk-keyer {
        clear: both;
    }

    .prometheus-header {
        padding: 0 10px;
    }

    .prometheus-keys {
        padding: 0 10px;
        border-top: 1px solid $border-weight-color;
        background: #fff;
        clear: both;
        padding-bottom: 10px;
    }
}

.biz-metric-manage-dialog {
    .bk-dialog-tool {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: $mediaWidth) {
    .biz-metric-manage-table {
        &.has-table-hover>tbody>tr.no-hover:hover {
            background-color: transparent;
        }

        p.item-name {
            @mixin ellipsis 260px;
            vertical-align: bottom;
        }

        p.item-uri {
            @mixin ellipsis 300px;
            vertical-align: bottom;
        }

        td.act {
            text-align: right;
            padding-right: 20px;
        }
    }
}
