

 .apply-perm-dialog {
    z-index: 16000;
    background-color: rgba(0, 0, 0, 0.8);

    .biz-apply-perm-table {
        background-color: #fff;
        border: 1px solid #dde4eb;

        thead {
            background-color: #fafbfd;

            tr {
                th {
                    height: 40px;
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background-color: #fafbfd;
                }

                td {
                    height: 40px;
                    font-size: 12px;
                }
            }
        }

        .no-data {
            min-height: 399px;

            .empty-message {
                margin-top: 160px;
            }
        }
    }

    .bk-dialog-tool {
        position: relative;
    }
}
