apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bcs-bscp.fullname" . }}-apiserver
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: bcs-bscp-apiserver
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.apiserver.replicaCount}}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/name: bcs-bscp-apiserver
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/name: bcs-bscp-apiserver
        values-hash: "{{ toYaml .Values.config | sha256sum | trunc 63 }}"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "bcs-bscp.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: bcs-bscp:latest
          imagePullPolicy: Never
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_IPs # ipv6双栈
              valueFrom:
                fieldRef:
                  fieldPath: status.podIPs
            - name: bcsEtcdHost
              value: bcs-bscp-etcd:2379
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          command:
            - /bk-bscp/bk-bscp-apiserver/bk-bscp-apiserver
          args:
            - --bind-ip=$(POD_IP)
            - --config-file=/bk-bscp/bk-bscp-apiserver/etc/api_server.yaml
            - --config-file=/etc/bcs-bscp/bcs_bscp.yaml
            - --disable-jwt
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          volumeMounts:
          - name: config
            mountPath: /etc/bcs-bscp
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - name: config
        configMap:
          name: bcs-bscp
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
