apiVersion: v1
kind: Service
metadata:
  name: {{ include "bcs-bscp.fullname" . }}-ui
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: bcs-bscp-ui
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: bcs-bscp-ui
