@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-loadbalance-title {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    margin-left: 24px;
}

.biz-loadbalance-table>thead>tr>th:first-child,
.biz-loadbalance-table>tbody>tr>td:first-child {
    padding-left: 30px;
}
.biz-loadbalance-table {
    >tbody>tr>th,
    >tbody>tr>td {
        height: 50px;
    }
}

.biz-namespace-selected-list {
    margin-top: 10px;

    .bk-tooltip {
        margin-right: 10px;
    }

    .bk-button {
        display: inline-block;
        max-width: 114px;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
        overflow: hidden;
        width: 114px;
    }
}

.namespace-types {
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
    color: #737987;
    margin-right: 10px;

    .bcs-icon {
        margin-right: 5px;
        font-size: 12px;
        color: #dde4eb;
    }

    span {
        margin-left: 10px;
    }

    .bk-warning {
        .bcs-icon {
            color: $warningColor;
        }
    }
}

.bk-dropdown-content {
    margin-top: 2px;
}

.biz-loadbalance-ns {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

@media screen and (max-width: $mediaWidth) {
    .cluster-name {
        @mixin ellipsis 120px;
    }
}
