@import '@/css/variable.css';

.biz-namespace-wrapper {
    .alternative-namespace {
        margin-bottom: 0;
    }

    .bk-tooltip {
        margin-bottom: 10px;
    }
}

.biz-data-table>thead>tr>th {
    background: #fafbfd;
}

.biz-data-table>thead>tr>th,
.biz-data-table>thead>tr>td,
.biz-data-table>tbody>tr>th,
.biz-data-table>tbody>tr>td {
    height: 42px;
    padding: 10px 20px;
}

.head {
    overflow: hidden;

    .bk-button {
        float: right;
    }
}

.icon-btn {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1112;
    &.icon-close {
        position: fixed;
    }
}

.ace-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1111;
}