@import './common.css';

.difference-code {
    height: 350px;
}

.editor-header {
    display: flex;
    display: flex;
    background: #eee;
    border-radius: 2px 2px 0 0;

    > div {
        padding: 5px;
        width: 50%;
    }
}

.bk-dialog-btn-confirm,
.bk-dialog-btn-cancel {
    width: auto !important;
    min-width: 72px;
    margin-top: 0 !important;
}

.diff-editor-box {
    position: relative;

    &.editor-fullscreen {
        position: fixed !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1111;
        background: #272821;
    }

    .fullscreen-use {
        position: absolute;
        right: 10px;
        top: 5px;
        display: inline-block;
        z-index: 100;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
    }

    .fullscreen-close {
        position: fixed;
        top: 10px;
        right: 5px;
        z-index: 1112;
        padding: 10px;
        cursor: pointer;
        display: inline-block;
        cursor: pointer;
        background: #272821;
        border-radius: 50%;
        font-size: 0;
        color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, .6);

        .bcs-icon {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.biz-error-message {
    white-space: pre-line;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    margin: 0;
}

#error-copy-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.biz-message {
    margin-bottom: 0;

    h3 {
        text-align: left;
        font-size: 14px;
    }

    p {
        text-align: left;
        font-size: 13px;
    }
}

.biz-footer {
    text-align: right;
    padding-right: 15px;
}

.biz-tip {
    &.bk-danger {
        color: $dangerColor;
    }
}

.biz-danger {
    color: $dangerColor;
}

.biz-warning {
    color: $warningColor;
}

.biz-guard-box {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.compare-btn {
    position: absolute;
    right: 10px;
    top: 9px;
}

.code-diff-header {
    display: flex;
    margin-bottom: 10px;

    h3 {
        flex: 1;
    }
}

.value-file-wrapper {
    padding: 15px 16px;
    border: 1px solid #dcdee5;
    border-radius: 2px;
    background: #f9fbfd;
    position: relative;
    bottom: -1px;
    font-size: 13px;
}

.release-version {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 12px;
    margin-bottom: 2px;
}

.notes-details {
    position: relative;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 10px 30px;
    cursor: default;
    border-radius: 2px;
    border: 1px solid #c4c6cc;
    .notes-message {
        white-space: pre-wrap;
        text-align: left;
        max-height: 200px;
        overflow: auto;
        margin: 0;
    }
    .copy-button {
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
}


.helm-set-panel {
    padding: 20px;
    li {
        font-size: 14px;
    }
}

.action-btn {
    width: auto;
    padding: 0;
    height: 30px;
    text-align: center;
    display: inline-block;
    border: none;
    background: transparent;
    outline: none;
    margin-left: 5px;

    .bk-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        color: #999999;
        font-size: 24px;
        display: inline-block;

        &:hover {
            color: $primaryColor;
            border-color: $primaryColor;
        }
    }
}

.error-key {
    font-size: 12px;
    color: red
}

