@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-helm-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-helm-list {
    font-size: 0;
}

.biz-cluster {
    width: 300px;
    height: 320px;
    border: 1px solid #dde4eb;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(221, 228, 235, 0.3);
    background: #fff;
    position: relative;
    display: inline-block;
    margin: 0 22px 22px 0;
    vertical-align: top;

    .bk-mark-corner {
        z-index: 10;
        left: -2px;

        &:before {
            border-color: #ffb400 transparent transparent #ffb400;
        }

        p {
            left: -6px;
        }
    }

    .biz-helm-header {
        height: 86px;
        padding: 22px 0 0 30px;
        border-bottom: 1px solid #dde4eb;
        position: relative;
        background-color: #fafbfd;

        .cluster-title {
            @mixin ellipsis 200px;
            font-size: 18px;
            font-weight: normal;
            margin: 0 0 10px 0;

            a {
                color: $fontColor;
                width: 200px;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        .cluster-metadata {
            margin: 0;
            font-size: 12px;
            color: #c3cdd7;

            .cluster-id {
                @mixin ellipsis 200px;
                vertical-align: bottom;
            }

            .stag,
            .prod {
                border: 1px solid #c4c6cc;
                padding: 1px 8px;
                border-radius: 2px;
                margin-left: 5px;
                height: 21px;
            }

            .stag {
                color: #ffb400;
                background-color: #fff3da;
                border: solid 1px #ffb400;
            }

            .prod {
                color: #3a84ff;
                background-color: #e1f3ff;
                border: solid 1px #3a84ff;
            }
        }

        .bk-dropdown-menu {
            position: absolute;
            top: 13px;
            right: 0;
        }

        .cluster-opera-btn {
            width: 70px;
            height: 60px;
            border: none;
            background: transparent;
            font-size: 30px;
            outline: 0;
            margin-bottom: -30px;
            color: #c3cdd7;

            &.hover {
                color: $primaryColor;
            }
        }
    }

    .biz-helm-content {
        padding: 30px;
    }
}

.biz-progress-box {
    margin-bottom: 28px;
}

.flex {
    display: flex;
}

.logo-th {
    width: 120px;
}

.logo {
    width: 100px;
    text-align: center;
}

.data-th {
    width: 370px;
    padding-left: 40px;
}

.data {
    width: 350px;
    padding: 10px 0 10px 20px;
}

.namespace-th {
    min-width: 300px;
    padding: 0 10px;
}

.namespace {
    min-width: 300px;
    padding: 0 10px;
}

.chart-th {
    width: 200px;
    padding: 0 10px;
}

.chart {
    width: 200px;
    padding: 0 10px;
}

.opera_record-th {
    min-width: 220px;
}

.opera_record {
    min-width: 220px;
    .updated {
        margin-top: 5px;
    }
}

.action-th {
    width: 235px;
    padding-left: 0;
    border-right: 1px solid #dfe0e5;
}

.action {
    width: 205px;
}

.biz-inner-table {
    width: 100%;
    border: 1px solid $borderColor;

    tr {
        height: 80px;
    }

    td {
        background: #fff;
        border-right: none;
        border-left: none;
    }

    .logo {
        border-right: 1px solid $borderColor;
    }

    .app-name {
        max-width: 270px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    .version {
        width: 100px;
    }

    .status {
        width: 100px;
    }

    .deploy {
        width: 160px;
    }

    .title {
        font-size: 14px;
        font-weight: bold;
        display: block;
        color: #5d6075;
        margin: 0 0 10px 0;
    }

    .vertion {
        font-size: 12px;
        color: #7b7d8a;
        margin: 0 0 5px 0;
    }

    a {
        font-size: 12px;
        color: #3a84ff;
    }

    strong {
        display: block;
    }

    button.btn {
        transition: none;

        &:hover {
            background-color: #3a84ff;
            border-color: #3a84ff;
            opacity: 1;
            color: #fff;
        }
    }
    .action-btn-group {
        display: flex;
        align-items: center;
    }
}

.biz-config-templateset-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-templateset-table {
    min-width: 1200px;
    border-bottom: none;

    &.bk-table>thead>tr>th {
        height: 42px;
        background-color: #ebf0f5;
        color: #52525d;
    }

    &..bk-table td,
    &..bk-table th.is-leaf {
        border-bottom: none;
    }
}

.biz-templateset-table>tbody>tr {
    &:first-child {
        >td {
            padding-top: 20px;
        }
    }

    &:hover {
        .resoruce-selector {
            display: inline-block;
        }
    }
}

.biz-templateset-table>tbody>tr>td {
    padding: 10px 0 0 0;
    border: none;

    &:first-child {
        padding-left: 20px;

        .templateset-val-box {
            border-left: 1px solid $borderWeightColor;
            border-right: 1px solid $borderWeightColor;
            border-radius: 2px 0 0 2px;
        }
    }

    &:last-child {
        padding-right: 20px;

        .templateset-val-box {
            border-right: 1px solid $borderWeightColor;
            border-radius: 0 2px 2px 0;
        }
    }

    .resoruce-selector {
        position: absolute;
        right: 148px;
        width: 100px;
        display: none;
    }

    .templateset-val-box {
        width: 100%;
        min-height: 100px;
        background: #fff;
        vertical-align: middle;
        border-top: 1px solid $borderWeightColor;
        border-bottom: 1px solid $borderWeightColor;
        display: table;
        color: $fontColor;
        font-size: 12px;
        line-height: 1;

        .title {
            margin: 0 0 12px 0;
            font-size: 14px;
            color: #5d6075;
        }

        .vertion {
            margin: 0 0 8px 0;
        }

        .url {
            font-size: 14px;
            margin: 0 0 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 500px;

            &:first-child {
                margin-top: 5px;
            }
        }

        strong {
            font-size: 14px;
            display: block;
            margin-bottom: 10px;

            &:first-child {
                margin-top: 5px;
            }
        }
    }
}

.center {
    text-align: center !important;
}

.biz-page-box {
    padding-top: 20px;
}

.biz-guide-box {
    box-shadow: none;
    background-color: transparent;
}

.biz-config-templateset-copy-dialog {
    button.disabled {
        background-color: #fafafa;
        border-color: #e6e6e6;
        color: #cccccc;
        cursor: not-allowed;

        &:hover {
            background-color: #fafafa;
            border-color: #e6e6e6;
        }
    }
}

.error-tip {
    color: $dangerColor;
    font-weight: normal;
}

.bk-dialog-btn-confirm,
.bk-dialog-btn-cancel {
    width: auto !important;
    min-width: 72px;
    margin-top: 0 !important;
}

.icon-search {
    color: #c3cdd7;
}

.biz-error-message {
    white-space: pre-line;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    margin: 0;
}

#error-copy-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.biz-message {
    margin-bottom: 0;

    h3 {
        text-align: left;
        font-size: 14px;
    }

    p {
        text-align: left;
        font-size: 13px;
    }
}

.biz-footer {
    text-align: right;
    padding-right: 15px;
}

.biz-check-btn {
    cursor: pointer;
}

.bk-button {
    position: relative;
}

.biz-status-icon {
    cursor: pointer;
    right: -10px;
    padding: 0 10px;
    position: relative;
}

.tip-trigger {
    vertical-align: middle;
    cursor: pointer;
}

.biz-data-table {
    tr.has-error {
        td {
            cursor: pointer;
        }
    }
}

.biz-mark {
    font-size: 10px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
    transform: scale(0.75);
}

.biz-templateset-table {
    border: 1px solid #dfe0e5;
    border-bottom: none;
}

.biz-namespace {
    padding: 0 20px;
    overflow-x: auto;
}
.col-cluster {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

/* 自适应 */
@media screen and (max-width: 1600px) {
    .data-th {
        width: 320px;
        padding-left: 40px;
    }

    .data {
        width: 300px;
        padding-left: 40px;
    }

    .namespace-th {
        min-width: 300px;
        padding: 0 10px;
    }

    .namespace {
        min-width: 300px;
        padding: 0 10px;
    }

    .chart-th {
        width: 200px;
        padding: 0 10px;
    }

    .chart {
        width: 200px;
        padding: 0 10px;
    }
}


@media screen and (max-width: 1366px) {
    .app-version {
        max-width: 170px;
        @mixin ellipsis;
        margin-right: 5px;
    }

    .biz-inner-table {
        .app-name {
            max-width: 160px;
        }
    }

    .data-th {
        width: 260px;
        padding-left: 40px;
    }

    .data {
        width: 240px;
        padding-left: 20px;
    }

    .namespace-th {
        min-width: 230px;
        padding: 0 10px;
    }

    .namespace {
        min-width: 230px;
        padding: 0 10px;
    }

    .action-th {
        width: 235px;
        padding-left: 0;
        border-right: 1px solid #dfe0e5;
    }

    .action {
        width: 205px;
    }

    .chart-th {
        width: 200px;
        padding: 0 10px;
    }

    .chart {
        width: 200px;
        padding: 0 10px;
    }
}
/deep/ .bk-table-body tr td .cell {
    -webkit-line-clamp: 2;
}

/deep/ .bk-table-body tr td {
    height: 54px;
}
