.logo-wrapper {
    width: 100px;
    height: 100px;
    margin: auto;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;
}

.biz-tip {
    word-break: break-all;
    line-height: 20px;

    a {
        color: #3a84ff;
    }
}

.biz-error-message {
    white-space: pre-line;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    margin: 0;
}

#error-copy-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.biz-message {
    margin-bottom: 0;

    h3 {
        text-align: left;
        font-size: 14px;
    }

    p {
        text-align: left;
        font-size: 13px;
    }
}

.biz-footer {
    text-align: right;
    padding-right: 15px;
}

.biz-guard-box {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.value-file-wrapper {
    padding: 15px 16px;
    border: 1px solid #dcdee5;
    border-radius: 2px;
    background: #f9fbfd;
    position: relative;
    bottom: -1px;
    font-size: 13px;
}

.helm-set-panel {
    padding: 20px;
    li {
        font-size: 14px;
    }
}

.action-btn {
    width: auto;
    padding: 0;
    height: 30px;
    text-align: center;
    display: inline-block;
    border: none;
    background: transparent;
    outline: none;
    margin-left: 5px;

    .bk-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        color: #999999;
        font-size: 24px;
        display: inline-block;

        &:hover {
            color: $primaryColor;
            border-color: $primaryColor;
        }
    }
}

.error-key {
    font-size: 12px;
    color: red
}
