@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';
@import '@/css/mixins/clearfix.css';
@import '@/css/mixins/scroller.css';

.biz-tpl-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-tpl-list {
    font-size: 14px;
}

.biz-tpl {
    width: 300px;
    height: 320px;
    border: 1px solid #dde4eb;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(221, 228, 235, 0.3);
    background: #fff;
    position: relative;
    display: inline-block;
    margin: 0 22px 22px 0;
    vertical-align: top;

    .bk-mark-corner {
        z-index: 10;
        left: -2px;

        &:before {
            border-color: #ffb400 transparent transparent #ffb400;
        }

        p {
            left: -6px;
        }
    }

    .biz-tpl-header {
        height: 86px;
        text-align: center;
        border-bottom: 1px solid #dde4eb;
        position: relative;
        background-color: #fafbfd;
    }

    .biz-tpl-content {
        padding: 30px;
        text-align: center;
    }

    .tpl-desc {
        height: 120px;
        margin-bottom: 20px;
        word-break: break-all;
    }
}


.biz-inner-table {
    width: 100%;
    border: 1px solid $borderColor;

    tr {
        height: 80px;
    }

    td {
        background: #fff;

        border-right: none;
        border-left: none;
    }

    .logo {
        width: 100px;
        min-width: 100px;
        text-align: center;
        border-right: 1px solid $borderColor;

        .logo-wrapper {
            width: 100px;
        }

        img {
            width: 60px;
        }
    }

    .data {
        width: 230px;
        min-width: 230px;
        padding: 0 10px 0 20px;
    }

    .version {
        width: 120px;
        min-width: 120px;
    }

    .description {
        padding-right: 10px;
    }

    .description p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        padding: 8px 0;
    }

    .update {
        width: 170px;
        min-width: 170px;
    }

    .source {
        width: 110px;
    }

    .action {
        width: 180px;
        min-width: 180px;
    }

    .title {
        font-size: 14px;
        font-weight: bold;
        display: block;
        color: #5d6075;
        margin: 0 0 10px 0;
    }

    .vertion {
        font-size: 12px;
        color: #7b7d8a;
        margin: 0 0 5px 0;
    }

    strong {
        display: block;
    }

    button.btn {
        transition: none;

        &:hover {
            background-color: #3a84ff;
            border-color: #3a84ff;
            opacity: 1;
            color: #fff;
        }
    }
}

.biz-config-templateset-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-templateset-table {
    border-bottom: none;

    &.bk-table>thead>tr>th {
        height: 42px;
        background-color: #ebf0f5;
        color: #52525d;
    }

    &..bk-table td,
    &..bk-table th.is-leaf {
        border-bottom: none;
    }
}

.biz-templateset-table>tbody>tr {
    &:first-child {
        >td {
            padding-top: 20px;
        }
    }

    &:hover {
        .resoruce-selector {
            display: inline-block;
        }
    }
}

.biz-templateset-table>tbody>tr>td {
    padding: 10px 0 0 0;
    border: none;

    &:first-child {
        padding-left: 20px;

        .templateset-val-box {
            border-left: 1px solid $borderWeightColor;
            border-right: 1px solid $borderWeightColor;
            border-radius: 2px 0 0 2px;
        }
    }

    &:last-child {
        padding-right: 20px;

        .templateset-val-box {
            border-right: 1px solid $borderWeightColor;
            border-radius: 0 2px 2px 0;
        }
    }

    .resoruce-selector {
        position: absolute;
        right: 148px;
        width: 100px;
        display: none;
    }

    .templateset-val-box {
        width: 100%;
        min-height: 100px;
        background: #fff;
        vertical-align: middle;
        border-top: 1px solid $borderWeightColor;
        border-bottom: 1px solid $borderWeightColor;
        display: table;
        color: $fontColor;
        font-size: 12px;
        line-height: 1;

        .title {
            margin: 0 0 12px 0;
            font-size: 14px;
            color: #5d6075;
        }

        .vertion {
            margin: 0 0 8px 0;
        }

        .url {
            font-size: 14px;
            margin: 0 0 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 500px;

            &:first-child {
                margin-top: 5px;
            }
        }

        strong {
            font-size: 14px;
            display: block;
            margin-bottom: 10px;

            &:first-child {
                margin-top: 5px;
            }
        }
    }
}

.center {
    text-align: center !important;
}

.biz-page-box {
    padding-top: 20px;
}

.biz-guide-box {
    box-shadow: none;
    background-color: transparent;
}

.biz-config-templateset-copy-dialog {
    button.disabled {
        background-color: #fafafa;
        border-color: #e6e6e6;
        color: #cccccc;
        cursor: not-allowed;

        &:hover {
            background-color: #fafafa;
            border-color: #e6e6e6;
        }
    }
}

.tpl-name {
    @mixin ellipsis 200px;
}

.tpl-version {
    @mixin ellipsis 100px;
}

.helm-repos-detail {
    padding: 0 15px;

    .repos-item {
        overflow: hidden;
        margin-bottom: 10px;
    }

    .label {
        font-size: 13px;
        font-weight: bold;
    }

    .url {
        font-size: 13px;
        text-align: left;
        white-space: normal;
        word-break: break-all;
    }

    .wrapper {
        overflow: hidden;
    }

    .auth {
        border: 1px solid $borderWeightColor;
        background: #fafafa;
        margin: 5px 0;
        border-radius: 2px;
        clear: both;
        padding: 10px;
        text-align: left;

        div {
            margin-right: 10px;
            line-height: 24px;
        }

        .bcs-icon {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.key-list {
    @mixin clearfix;

    li {
        float: left;
        margin: 0 5px 5px 0;
        border: 1px solid $borderWeightColor;
        border-radius: 2px;
    }

    .key,
    .value {
        float: left;
        line-height: 22px;
        text-align: left;
        padding: 0 10px;
        font-size: 12px;
        color: #737987;
    }

    .value {
        border-left: 1px solid $borderWeightColor;
        background-color: #fafbfd;
    }
}

.st0 {
    fill: #ebf0f5;
}

.st1 {
    display: none;
    fill: #ebf0f5;
}

.st2 {
    display: none;
}

.st3 {
    display: inline;
    fill: #ebf0f5;
}


.bk-tab2 {
    border: 1px solid #c4c6cc;
    border-radius: 2px;
    background: #fff;
  
    .bk-panel-label {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
    }
  
    .bk-panel-title {
      vertical-align: middle;
    }
  
    .bk-tab2-control {
      display: inline-block;
      height: 58px;
      line-height: 58px;
      width: 30px;
      position: relative;
      cursor: pointer;
  
      &.left {
        float: left;
        border-right: 1px solid #c4c6cc;
        border-bottom: 1px solid #c4c6cc;
      }
  
      &.right {
        float: right;
        border-left: 1px solid #c4c6cc;
        border-bottom: 1px solid #c4c6cc;
      }
  
      &.left.disabled, &.right.disabled {
        color: #ebf0f5;
        cursor: not-allowed;
      }
  
      .bk-tab2-icon {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 18px;
      }
    }
  
    .bk-tab2-head {
      position: relative;
      height: 58px;
      overflow: hidden;
      white-space: nowrap;
  
      &.scroll {
        margin: 0 30px;
  
        .bk-tab2-nav > .tab2-nav-item.active:last-child {
          border-right: none;
        }
      }
  
      &::after {
        display: block;
        clear: both;
        content: "";
        font-size: 0;
        height: 0;
        visibility: hidden;
      }
  
      &.is-fill {
        background: #fafbfd;
  
        .bk-tab2-nav > .tab2-nav-item {
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
  
          &.active {
            background: #fff;
            border-color: #c4c6cc;
            border-right: 1px solid #c4c6cc;
  
            &:first-child {
              border-left-color: transparent;
            }
  
            &::after {
              bottom: -1px;
              left: 0;
              height: 1px;
              background: #fff;
            }
          }
        }
      }
  
      .bk-tab2-nav {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #c4c6cc;
        height: 100%;
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  
        &::after {
          display: block;
          clear: both;
          content: "";
          font-size: 0;
          height: 0;
          visibility: hidden;
        }
  
        > .tab2-nav-item {
          display: inline-block;
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          position: relative;
          height: 58px;
          line-height: 58px;
          padding: 0 20px;
          color: #737987;
          font-size: 14px;
          cursor: pointer;
          -webkit-transition: background-color ease 0.3s, color ease 0.3s;
          transition: background-color ease 0.3s, color ease 0.3s;
  
          &::after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            opacity: 0;
            height: 0;
            background: #3a84ff;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
  
          &.active {
            color: #3a84ff;
  
            &::after {
              opacity: 1;
              height: 3px;
            }
          }
        }
  
        .tab2-nav-item-tag {
          position: relative;
          top: -2px;
        }
      }
  
      .bk-tab2-act, .bk-tab2-action {
        height: 100%;
        display: table;
        position: absolute;
        right: 20px;
      }
  
      .bk-tab2-act .action-wrapper, .bk-tab2-action .action-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
    }
  
    &.bk-tab2-small {
      .bk-tab2-control {
        height: 43px;
        line-height: 43px;
      }
  
      .bk-tab2-head {
        height: 43px;
  
        .bk-tab2-nav > .tab2-nav-item {
          height: 43px;
          line-height: 43px;
          padding: 0 15px;
        }
      }
    }
  
    .bk-tab2-content .bk-tab2-pane {
      display: none;
      opacity: 0;
  
      &.active {
        opacity: 1;
        display: block;
      }
    }
}