.biz-config-box {
    border: 1px solid #dde4eb;
    border-radius: 2px;
    margin-top: 15px;

    .bk-collapse-item-content {
        background: #fff;
    }
}

.bk-collapse-item-header {
    padding: 0px 10px;
    height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 42px;
    font-size: 14px;
    cursor: pointer;
}

.action-box {
    text-align: right;
    margin-top: 15px;

    .bk-button {
        position: relative;

        input {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            cursor: pointer;
            opacity: 0;
        }
    }
}

.save-yaml-btn {
    position: absolute;
    right: 100px;
    top: -48px;
}

.hide-yaml-btn {
    position: absolute;
    right: 16px;
    top: -48px;
}

.logo-wrapper {
    width: 100px;
    height: 100px;
    margin: auto;
    line-height: 100px;
    vertical-align: middle;
}
