/* @import '@/css/variable.css'; */
@import '@/css/mixins/ellipsis.css';

.dashboard-top-title {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    margin-left: 20px;
}

.base-layout {
    .biz-content-wrapper {
        .base-layout-operate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 32px;
            margin-bottom: 20px;
            .resource-create {
                padding-right: 20px;
                width: 100px;
            }
            .search-wapper {
                display: flex;
                .search-input {
                    width: 320px;
                }
            }
            .resource-create-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 12px;
            }
            .resource-create-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -1px;
                margin-left: 8px;
            }
            .bk-dropdown-list {
                overflow: hidden;
                li {
                    cursor: pointer;
                }
            }
        }
    }
    .detail-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
    }
    .bk-button-group {
        font-weight: normal;
    }
    .bk-sideslider .bk-sideslider-content {
        height: 100%;
    }
    .select-wrapper {
        display: flex;
        .select-prefix {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            border: 1px solid #c4c6cc;
            margin-right: -1px;
            font-size: 12px;
        }
    }
  }
.capacity-dialog-content {
  display: flex;
  align-items: center;
}
