*.DS_Store
.idea/
.vscode/
*exvim*
build/
vendor/github.com/Nvveen/Gotty/
vendor/github.com/bitly/go-simplejson/
vendor/github.com/coredns/coredns/
vendor/github.com/davecgh/go-spew/
vendor/github.com/dnstap/golang-dnstap/
vendor/github.com/docker/docker/
vendor/github.com/docker/libnetwork/
vendor/github.com/elastic/go-ucfg/
vendor/github.com/farsightsec/golang-framestream/
vendor/github.com/ghodss/yaml/
vendor/github.com/go-sql-driver/mysql/
vendor/github.com/gogo/protobuf/
vendor/github.com/googleapis/gnostic/
vendor/github.com/hashicorp/golang-lru/
vendor/github.com/hashicorp/hcl/
vendor/github.com/hpcloud/tail/
vendor/github.com/leodido/go-urn/
vendor/github.com/modern-go/concurrent/
vendor/github.com/modern-go/reflect2/
vendor/github.com/opencontainers/runc/
vendor/github.com/opencontainers/go-digest/
vendor/github.com/pmezard/go-difflib/
vendor/github.com/prometheus/client_model/
vendor/github.com/prometheus/common/
vendor/github.com/spf13/afero/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/Nvveen/Gotty/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/bitly/go-simplejson/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/coredns/coredns/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/davecgh/go-spew/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/dnstap/golang-dnstap/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/docker/docker/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/docker/libnetwork/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/elastic/go-ucfg/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/farsightsec/golang-framestream/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/ghodss/yaml/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/go-sql-driver/mysql/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/gogo/protobuf/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/googleapis/gnostic/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/hashicorp/golang-lru/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/hashicorp/hcl/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/hpcloud/tail/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/leodido/go-urn/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/modern-go/concurrent/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/modern-go/reflect2/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/opencontainers/runc/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/opencontainers/go-digest/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/pmezard/go-difflib/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/prometheus/client_model/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/prometheus/common/
bcs-k8s/tkex-statefulsetplus-operator/vendor/github.com/spf13/afero/
bcs-k8s/bcs-external-dns/
