@import '@/css/variable.css';

.biz-configuration-create-configmap-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;

    .back {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 1px;
        color: $iconPrimaryColor
    }
}

.bk-form .bk-form-content .bk-form-tip {
    padding: 0;
    margin: 10px 0 0 0;
    position: relative;
    height: auto;
    line-height: 1;
    left: 0;
}

.biz-guide-box {
    box-shadow: none;
    padding: 130px 40px;
}

.from-json-btn {
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 10;
}

.code-fullscreen {
    padding: 7px;
    cursor: pointer;
    position: absolute;
    right: 13px;
    color: #fafbfd;
    z-index: 10;
    font-size: 16px;
}

.save-json-btn {
    position: absolute;
    right: 85px;
    top: -48px;
}

.hide-json-btn {
    position: absolute;
    right: 16px;
    top: -48px;
}

.biz-confignation-wrapper .ace_editor {
    font-size: 13px;
}

.ace-full-screen {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 10000;
}
