

.biz-terminal {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 5100;

    &.active {
        .biz-terminal-trigger {
            width: 142px;
            border-radius: 2px;

            .text {
                display: inline-block;
            }

            .terminal-helper {
                display: inline-block;
            }
        }
    }

    .biz-terminal-trigger {
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 40px;
        background: #fff;
        overflow: hidden;
        border-radius: 50%;
        transition: all ease 0.3s;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        z-index: 10;

        .icon {
            width: 16px;
            vertical-align: middle;
        }

        .terminal-helper {
            display: none;
            font-size: 14px;
        }

        .text {
            color: #333;
            font-size: 14px;
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            display: none;

        }
    }

    .terminal-helper {
        vertical-align: middle;

        &:hover {
            color: red;

            .bcs-icon {
                color: red !important;
            }
        }
    }
}
