global
  daemon
  lua-load /bcs-lb/bcs-statistic/main.lua
  stats socket /var/run/haproxy.sock mode 600 level admin
  nbproc 1
  nbthread 4
  spread-checks 5
  max-spread-checks 15000
  maxconn 302400
  pidfile /var/run/haproxy.pid 
defaults
  log                  global
  retries                   1
  backlog               10000
  maxconn               202400
  timeout connect          3s
  timeout client          15s
  timeout server          15s
  timeout tunnel        3600s
  timeout http-keep-alive  15s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  option            dontlognull
  option            http-server-close
  option            redispatch
  option            forwardfor
  option            srvtcpka
  option            clitcpka