{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css"
}