<div class="biz-content">
    <div class="biz-top-bar">
        <div class="biz-app-instance-title">
            <i class="bcs-icon bcs-icon-arrows-left back" @click="goInstanceDetail"></i>
            <span style="cursor: default;">{{containerInfo.container_name || '--'}}</span>
        </div>
    </div>
    <div class="biz-content-wrapper biz-app-instance">
        <div class="biz-app-instance-wrapper" v-bkloading="{isLoading: contentLoading}">
            <div class="biz-app-instance-header">
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.hostname')}}</div>
                    <bcs-popover :delay="500" placement="bottom-start">
                        <div class="value-label">{{containerInfo.host_name || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.host_name || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.hostIP')}}</div>
                    <bcs-popover :delay="500" placement="bottom">
                        <div class="value-label">{{containerInfo.host_ip || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.host_ip || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.containerIP：')}}</div>
                    <bcs-popover :delay="500" placement="bottom">
                        <div class="value-label">{{containerInfo.container_ip || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.container_ip || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.containerID：')}}</div>
                    <bcs-popover :delay="500" placement="bottom">
                        <div class="value-label">{{containerInfo.container_id || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.container_id || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.image')}}</div>
                    <bcs-popover :delay="500" placement="bottom">
                        <div class="value-label">{{containerInfo.image || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.image || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
                <div class="header-item">
                    <div class="key-label">{{$t('deploy.templateset.network')}}</div>
                    <bcs-popover :delay="500" placement="bottom">
                        <div class="value-label">{{containerInfo.network_mode || '--'}}</div>
                        <template slot="content">
                            <p style="text-align: left; white-space: normal;word-break: break-all;font-weight: 400;">{{containerInfo.network_mode || '--'}}</p>
                        </template>
                    </bcs-popover>
                </div>
            </div>

            <div class="biz-app-instance-chart-wrapper">
                <div class="biz-app-instance-chart-k8s">
                    <div class="part top-left">
                        <div class="info">
                            <div class="left">
                                {{$t('metrics.cpuUsage')}}
                            </div>
                            <div class="right">
                                <bk-dropdown-menu :align="'right'" ref="cpuDropdown" style="z-index: 101;">
                                    <div style="cursor: pointer;" slot="dropdown-trigger">
                                        <span>{{cpuToggleRangeStr}}</span>
                                        <bk-button class="biz-dropdown-button">
                                            <i class="bcs-icon bcs-icon-angle-down"></i>
                                        </bk-button>
                                    </div>
                                    <ul class="bk-dropdown-list" slot="dropdown-content">
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('cpuDropdown', 'cpuToggleRangeStr', 'cpu', '1')">{{$t('units.time.1h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('cpuDropdown', 'cpuToggleRangeStr', 'cpu', '2')">{{$t('units.time.24h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('cpuDropdown', 'cpuToggleRangeStr', 'cpu', '3')">{{$t('units.time.lastDays')}}</a>
                                        </li>
                                    </ul>
                                </bk-dropdown-menu>
                            </div>
                        </div>
                        <chart :options="containerCpuChartOpts" ref="containerCpuLine" auto-resize></chart>
                    </div>
                    <div class="part top-left">
                        <div class="info">
                            <div class="left">{{$t('metrics.memUsage1')}}</div>
                            <div class="right">
                                <bk-dropdown-menu :align="'right'" ref="memoryDropdown" style="z-index: 101;">
                                    <div style="cursor: pointer;" slot="dropdown-trigger">
                                        <span>{{memToggleRangeStr}}</span>
                                        <bk-button class="biz-dropdown-button">
                                            <i class="bcs-icon bcs-icon-angle-down"></i>
                                        </bk-button>
                                    </div>
                                    <ul class="bk-dropdown-list" slot="dropdown-content">
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('memoryDropdown', 'memToggleRangeStr', 'mem', '1')">{{$t('units.time.1h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('memoryDropdown', 'memToggleRangeStr', 'mem', '2')">{{$t('units.time.24h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('memoryDropdown', 'memToggleRangeStr', 'mem', '3')">{{$t('units.time.lastDays')}}</a>
                                        </li>
                                    </ul>
                                </bk-dropdown-menu>
                            </div>
                        </div>
                        <chart :options="containerMemChartOptsInternal" ref="containerMemLine" auto-resize></chart>
                    </div>
                    <div class="part top-right">
                        <div class="info">
                            <div class="left">{{$t('metrics.diskIOUsage1')}}</div>
                            <div class="right">
                                <bk-dropdown-menu :align="'right'" ref="diskDropdownContainer" style="z-index: 101;">
                                    <div style="cursor: pointer;" slot="dropdown-trigger">
                                        <span>{{diskToggleRangeStr}}</span>
                                        <bk-button class="biz-dropdown-button">
                                            <i class="bcs-icon bcs-icon-angle-down"></i>
                                        </bk-button>
                                    </div>
                                    <ul class="bk-dropdown-list" slot="dropdown-content">
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('diskDropdownContainer', 'diskToggleRangeStr', 'disk', '1')">{{$t('units.time.1h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('diskDropdownContainer', 'diskToggleRangeStr', 'disk', '2')">{{$t('units.time.24h')}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" @click.stop="toggleRange('diskDropdownContainer', 'diskToggleRangeStr', 'disk', '3')">{{$t('units.time.lastDays')}}</a>
                                        </li>
                                    </ul>
                                </bk-dropdown-menu>
                            </div>
                        </div>
                        <chart :options="containerDiskChartOptsInternal" ref="containerDiskLine" auto-resize></chart>
                    </div>
                </div>
            </div>

            <div class="biz-app-container-table-wrapper">
                <bk-tab :type="'fill'" :active-name="tabActiveName" class="biz-tab-container" @tab-changed="tabChanged">
                    <bk-tab-panel name="ports" :title="$t('dashboard.network.portmapping')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-ports-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 300px">
                                        Name
                                    </th>
                                    <th style="width: 150px">Host Port</th>
                                    <th style="width: 150px">Container Port</th>
                                    <th style="width: 100px">Protocol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="portList.length">
                                    <tr v-for="(port, index) in portList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="port-name">{{port.name}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{port.name}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>{{port.hostPort}}</td>
                                        <td>{{port.containerPort}}</td>
                                        <td>
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="port-protocol">{{port.protocol}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{port.protocol}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="4">
                                            <div class="bk-message-box no-data">
                                                <p class="message empty-message">{{$t('deploy.templateset.noportmapping')}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                    <bk-tab-panel name="commands" :title="$t('dashboard.workload.container.command')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-commands-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 300px">
                                        Command
                                    </th>
                                    <th style="width: 200px">Args</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="commandList.length">
                                    <tr v-for="(command, index) in commandList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="command-name">{{command.command}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{command.command}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="command-args">{{command.args}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{command.args}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="2">
                                            <div class="bk-message-box no-data">
                                                <bcs-exception type="empty" scene="part"></bcs-exception>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                    <bk-tab-panel name="volumes" :title="$t('k8s.volume')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-volumes-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 250px">
                                        Host Path
                                    </th>
                                    <th style="width: 250px">Mount Path</th>
                                    <th style="width: 140px">ReadOnly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="volumeList.length">
                                    <tr v-for="(volume, index) in volumeList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="volume-host">{{volume.hostPath}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{volume.hostPath}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="volume-mount">{{volume.mountPath}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{volume.mountPath}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>{{volume.readOnly}}</td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="3">
                                            <div class="bk-message-box no-data">
                                                <bcs-exception type="empty" scene="part"></bcs-exception>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                    <bk-tab-panel name="env_args" :title="$t('dashboard.workload.container.env')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-env-table" v-bkloading="{isLoading: envTabLoading}">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 150px">
                                        Key
                                    </th>
                                    <th style="width: 350px">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="envList.length">
                                    <tr v-for="(env, index) in envList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="env-key">{{env.name}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{env.name}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="env-value">{{env.value}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{env.value}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="2">
                                            <div class="bk-message-box no-data">
                                                <bcs-exception type="empty" scene="part"></bcs-exception>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                    <bk-tab-panel name="labels" :title="$t('k8s.label')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-label-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 150px">
                                        Key
                                    </th>
                                    <th style="width: 350px">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="labelList.length">
                                    <tr v-for="(label, index) in labelList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="label-key">{{label.key}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{label.key}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                        <td>
                                            <bcs-popover placement="top" :delay="500">
                                                <p class="label-value">{{label.val}}</p>
                                                <template slot="content">
                                                    <p style="text-align: left; white-space: normal;word-break: break-all;">{{label.val}}</p>
                                                </template>
                                            </bcs-popover>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="2">
                                            <div class="bk-message-box no-data">
                                                <bcs-exception type="empty" scene="part"></bcs-exception>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                    <bk-tab-panel name="resources" :title="$t('dashboard.workload.container.limits')">
                        <table class="bk-table has-table-hover biz-table biz-app-container-resource-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left: 27px; width: 150px">
                                        Cpu
                                    </th>
                                    <th style="width: 350px">Memory</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="resourceList.length">
                                    <tr v-for="(resource, index) in resourceList">
                                        <td style="text-align: left;padding-left: 27px;">
                                            <p class="resource-cpu">{{resource.cpu}}</p>
                                        </td>
                                        <td>
                                            <p class="resource-mem">{{resource.memory}}</p>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="2">
                                            <div class="bk-message-box no-data">
                                                <bcs-exception type="empty" scene="part"></bcs-exception>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </bk-tab-panel>
                </bk-tab>
            </div>
        </div>
    </div>
</div>
