{
  "cluster_zookeeper": "${mesosZkHost}",
  "v": 3,
  "cadvisor_port": ${cadvisorPort},
  "bcs_zookeeper": "${bcsZkHost}",
  "ca_file": "${caFile}",
  "log_dir": "${log_dir}",
  "pid_dir": "${pid_dir}",
  "client_cert_file": "${clientCertFile}",
  "client_key_file": "${clientKeyFile}",
  "clusterid": "${clusterId}"
}