
#### filter
| 参数名称  | 参数类型        | 必选  | 描述                                                              |
|-------|-------------|-----|-----------------------------------------------------------------|
| op    | enum string | 是   | 操作符（枚举值：and、or）。如果是and，则表示多个rule之间是且的关系；如果是or，则表示多个rule之间是或的关系。 |
| rules | array       | 是   | 过滤规则，最多设置5个rules。如果rules为空数组，op（操作符）将没有作用，代表查询全部数据。             |

#### rules[n] （详情请看 rules 表达式说明）
| 参数名称  | 参数类型        | 必选  | 描述                                         |
|-------|-------------|-----|--------------------------------------------|
| field | string      | 是   | 查询条件Field名称，具体可使用的用于查询的字段及其说明请看下面 - 查询参数介绍 |
| op    | enum string | 是   | 操作符（枚举值：eq、neq、gt、gte、le、lte、in、nin）       |
| value | 可变类型        | 是   | 查询条件Value值                                 |

##### rules 表达式说明：
##### 1. 操作符
| 操作符 | 描述                                       | 操作符的value支持的数据类型                             |
|-----|------------------------------------------|----------------------------------------------|
| eq  | 等于。不能为空字符串                               | boolean, numeric, string                     |
| neq | 不等。不能为空字符串                               | boolean, numeric, string                     |
|     |                                          |                                              |
| gt  | 大于                                       | numeric，时间类型为字符串（标准格式："2006-01-02 15:04:05"） |
| gte | 大于等于                                     | numeric，时间类型为字符串（标准格式："2006-01-02 15:04:05"） |
| lt  | 小于                                       | numeric，时间类型为字符串（标准格式："2006-01-02 15:04:05"） |
| lte | 小于等于                                     | numeric，时间类型为字符串（标准格式："2006-01-02 15:04:05"） |
|     |                                          |                                              |
| in  | 在给定的数组范围中。value数组中的元素最多设置20个，数组中至少有一个元素  | boolean, numeric, string                     |
| nin | 不在给定的数组范围中。value数组中的元素最多设置20个，数组中至少有一个元素 | boolean, numeric, string                     |

##### 2. 协议示例
查询 name 是 "bscp" 且 age 大于18小于30 且 servers 类型是 "api" 或者是 "web" 的数据。
```json
{
    "op": "and",
    "rules": [
        {
            "field": "name",
            "op": "eq",
            "value": "bscp"
        },
        {
            "field": "age",
            "op": "gt",
            "value": 18
        },
        {
            "field": "age",
            "op": "lt",
            "value": 30
        },
        {
            "field": "servers",
            "op": "in",
            "value": [
                "api",
                "web"
            ]
        }
    ]
}
```