### 描述
该接口提供版本：v1.0.0+


查询应用详情。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| biz_id         | uint32       | 是     | 业务ID     |
| app_id         | uint32       | 是     | 应用ID     |


### 响应示例
```json
{
    "code": 0,
    "message": "ok",
    "data": {
        "id": 1,
        "biz_id": 1,
        "spec": {
            "name": "myapp",
            "config_type": "file",
            "memo": "test"
        },
        "revision": {
            "creator": "tom",
            "reviser": "tom",
            "create_at": "2019-07-29 11:57:20",
            "update_at": "2019-07-29 11:57:20"
        }
    }
}
```

### 响应参数说明
| 参数名称 | 参数类型 | 描述     |
| -------- | -------- | -------- |
| data     | object   | 响应数据 |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            应用ID                    |
|      biz_id        |      uint32      |            业务ID                    |
|      spec        |      object      |            资源信息       |
|      revision        |      object      |          修改信息        |

#### spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      name        |      string      |            应用名称                  |
|      memo        |      string      |            备注                    |
|      config_type        |      string      |            应用配置类型       |

{% include '_revision.md.j2' %}
