### 描述
该接口提供版本：v1.0.0+

查询应用下的发布记录。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| biz_id         | uint32       | 是     | 业务ID     |
| app_id         | uint32       | 是     | 应用ID     |
| filter         | object       | 是     | 查询过滤条件     |
| page         | object       | 是     | 分页设置    |

{% include '_filter.md.j2' %}

{% include '_page.md.j2' %}

##### 查询参数介绍：
| 参数名称     | 参数类型       | 描述             |
| ------------ | ----------- | ---------------- |
|      id        |      uint32      |            已发布策略历史记录ID                    |
| strategy_set_id         | uint32          | 策略集ID     |
| strategy_id         | uint32          | 策略ID     |
| release_id         | uint32           | 版本ID     |
| as_default         | bool         | 是否是兜底策略   |
| name         | string          | 策略名称    |
| mode         | enum string         | 策略模式（枚举值：normal、namespace）   |
| namespace         | string         | 命名空间    |
| memo         | string          | 备注   |
|      creator        |      string      |            创建者                    |
|      create_at        |       string     |           创建时间，时间唯一标准格式：2006-01-02 15:04:05                        |
接口调用者可以根据以上参数自行根据查询场景设置查询规则。

### 调用示例
如查询指定业务id为8和应用id为7的应用（在请求的url）下，策略集id为6 且 策略id为5 的发布记录。
```json
{
    "filter": {
        "op": "and",
        "rules": [
            {
                "field": "strategy_set_id",
                "op": "eq",
                "value": "6"
            },
            {
                "field": "strategy_id",
                "op": "eq",
                "value": "5"
            }
        ]
    },
    "page": {
        "count": false,
        "start": 0,
        "limit": 200
    }
}
```

### 响应示例
```json
{
    "code": 0,
    "message": "ok",
    "data": {
        "count": 0,
        "detail": [
            {
                "id": 1,
                "strategy_id": 1,
                "spec": {
                    "name": "strategy_1",
                    "release_id": 1,
                    "as_default": false,
                    "mode": "namespace",
                    "namespace": "set1.module1.instance1",
                    "memo": "my_first_strategy",
                    "scope": ""
                },
                "state": {
                    "pub_state": "published"
                },
                "attachment": {
                    "biz_id": 1,
                    "app_id": 1,
                    "strategy_set_id": 1
                },
                "revision": {
             	    "creator": "tom",
                    "create_at": "2019-07-29 11:57:20"
                }
            }
        ]
    }
}
```

### 响应参数说明
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      code        |      int32      |            错误码                   |
|      message        |      string      |             请求信息                  |
|       data       |      object      |            响应数据                  |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            策略ID                    |
|      strategy_id        |      uint32      |            策略ID                    |
|      spec        |      object      |            资源信息                    |
|      state        |      object      |            策略状态信息                    |
|      attachment        |      object      |            策略关联信息                  |
|      revision        |      object      |            修改信息                    |

#### state
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| pub_state         | string          | 发布状态    |

#### spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| name         | string          | 策略名称    |
| release_id         | uint32           | 版本ID     |
| as_default         | bool         | 是否作为兜底策略   |
| scope         | object         | 发布范围   |
| mode         | string         | 策略模式  |
| namespace         | string         | 命名空间    |
| memo         | string          | 备注   |

#### scope:
| 参数名称     | 参数类型    | 描述             |
| ------------ | ------ | ---------------- |
| selector         | object     | 发布范围     |
| sub_strategy         | object   | 子策略    |

#### sub_strategy:
| 参数名称     | 参数类型  | 描述             |
| ------------ | ------------ | ---------------- |
| name         | string   | 策略名称。  |
| release_id         | uint32     | 版本ID     |
| selector         | object    | 发布范围     |
| memo         | string     | 备注。  |

#### selector:
| 参数名称     | 参数类型    | 描述             |
| ------------ | ------ | ---------------- |
| match_all         | bool      | 是否是全量发布，如果是全量发布，labels_or 和 labels_and无效且禁止设置    |
| labels_or         | object       | 实例label的匹配规则为or，且label最多设置5个     |
| labels_and         | object     | 实例label的匹配规则为and，且label最多设置5个 |

#### attachment
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| biz_id         | uint32           | 业务ID     |
| app_id         | uint32          | 应用ID     |
| strategy_set_id         | uint32          | 策略集ID     |

{% include '_create_revision.md.j2' %}
