#### 描述

该接口提供版本：v1.0.0+

查询hook脚本列表

### 输入参数

| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| biz_id         | uint32       | 是     | 业务ID     |
| filter         | object       | 是     | 查询过滤条件     |
| page         | object       | 是     | 分页设置    |

{% include '_filter.md.j2' %}

{% include '_page.md.j2' %}

#### 查询参数介绍

| 参数名称     | 参数类型     | 必选   | 描述                                  |
| ------------ | ------------ | ------ |-------------------------------------|
| app_id    | uint32       | 是     | 应用ID                                |
| release_id | uint32 | 否 | 版本ID              |
| name | string | 是 | hook脚本名称                            |
| pre_type | string | 否 | 前置hook脚本类型，当前类型有shell、python        |
| pre_hook | string | 否 | 前置hook脚本内容，内容格式需和脚本类型相匹配，为内容字节流对应的字符串 |
| post_type | string | 否    | 后置hook脚本类型，当前类型有shell、python        |
| post_hook | string       | 否     | 后置hook脚本内容，内容格式需和脚本类型相匹配，为内容字节流对应的字符串 |

接口调用者可以根据以上参数自行根据查询场景设置查询规则。

#### 调用示例

```json
{
  "filter": {
    "op": "or",
    "rules": [
      {
        "field": "name",
        "op": "eq",
        "value": "myhook001"
      },
      {
        "field": "release_id",
        "op": "eq",
        "value": 1
      }
    ]
  },
  "page": {
    "count": false,
    "start": 0,
    "limit": 200
  }
}
```

#### 响应示例

```json
{
  "data": {
    "count": 1,
    "details": [
      {
        "id": 1,
        "spec": {
          "name": "myhook001",
          "pre_type": "shell",
          "pre_hook": "#!/bin/bash\n\nnow=$(date +'%Y-%m-%d %H:%M:%S')\necho \"hello, start at $now\"\n",
          "post_type": "python",
          "post_hook": "from datetime import datetime\nprint(\"hello, end at\", datetime.now())\n"
        },
        "attachment": {
          "biz_id": 2,
          "app_id": 1,
          "release_id": 0
        },
        "revision": {
          "creator": "bscp_local_tester",
          "reviser": "bscp_local_tester",
          "create_at": "2023-03-09 18:24:15",
          "update_at": "2023-03-09 18:24:15"
        }
      }
    ]
  }
}
```

#### 响应参数说明

| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|       data       |      object      |            响应数据                  |

#### data

| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]

| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            应用ID                    |
|      biz_id        |      uint32      |            业务ID                    |
|      spec        |      object      |            资源信息       |
|      revision        |      object      |          修改信息        |

#### spec

| 参数名称     | 参数类型   | 描述                                 |
| ------------ | ---------- |------------------------------------|
| app_id    | uint32       | 应用ID                               |
| release_id | uint32 | 版本ID             |
| name | string | hook脚本名称                           |
| pre_type | string  | 前置hook脚本类型，当前类型有shell、python       |
| pre_hook | string  | 前置hook脚本内容，内容格式需和脚本类型相匹配，为内容字节流对应的字符串 |
| post_type | string   | 后置hook脚本类型，当前类型有shell、python       |
| post_hook | string      | 后置hook脚本内容，内容格式需和脚本类型相匹配，为内容字节流对应的字符串 |

{% include '_revision.md.j2' %}
