### 描述
该接口提供版本：v1.0.0+


查询业务下的应用列表。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述          |
|----------| ------------ | ------ |-------------|
| biz_id   | uint32   | 是   | 业务ID        |
| name     | string   | 否   | 应用名称，可用于模糊搜索 |
| operator | string   | 否   | 应用创建者，可用于模糊搜索 |
| start    | uint32   | 否   | 分页起始值       |
| start             | uint32   | 否   | 分页起始值，默认为0  |
| limit             | uint32   | 否   | 分页大小        |
| all               | bool     | 否   | 是否查询全量，默认为false，为true时忽略分页相关参数并获取全量数据 |


### 调用示例

```json

```

### 响应示例
```json
{
  "data": {
    "count": 1,
    "details": [
      {
        "id": 2,
        "biz_id": 2,
        "space_id": "2",
        "space_type_id": "bkcmdb",
        "space_name": "蓝鲸",
        "space_type_name": "业务",
        "spec": {
          "name": "myapp001",
          "config_type": "file",
          "alias": "应用001",
          "data_type": ""
        },
        "revision": {
          "creator": "admin",
          "reviser": "admin",
          "create_at": "2024-02-18T11:37:54Z",
          "update_at": "2024-02-18T11:37:54Z"
        }
      }
    ]
  }
}
```

### 响应参数说明
| 参数名称 | 参数类型 | 描述     |
| -------- | -------- | -------- |
| data     | object   | 响应数据 |

#### data

| 参数名称 | 参数类型 | 描述                         |
| -------- | -------- | ---------------------------- |
| count    | uint32   | 当前规则能匹配到的总记录条数 |
| detail   | array    | 查询返回的数据               |

#### data.details[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            应用ID                    |
|      biz_id        |      uint32      |            业务ID                    |
|      spec        |      object      |            资源信息       |
|      revision        |      object      |          修改信息        |

#### spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      name        |      string      |            应用名称                  |
|      memo        |      string      |            备注                    |
|      config_type        |      string      |            应用配置类型       |

{% include '_revision.md.j2' %}
