### 描述
该接口提供版本：v1.0.0+


查询配置项元数据列表。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| biz_id         | uint32       | 是     | 业务ID     |
| app_id         | uint32       | 是     | 应用ID     |
| filter         | object       | 是     | 查询过滤条件     |
| page         | object       | 是     | 分页设置    |

{% include '_filter.md.j2' %}

{% include '_page.md.j2' %}

#### 查询参数介绍：
| 参数名称     | 参数类型       | 描述             |
| ------------ | ----------- | ---------------- |
|      id        |      uint32      |            配置项元数据ID                    |
| config_item_id | uint32   | 配置项ID |
| signature         | string          | 配置内容的SHA256，且必须是小写字符     |
| byte_size         | uint64           | 配置内容的大小，单位：字节     |
|      creator        |      string      |            创建者                    |
|      create_at        |       string     |           创建时间，时间唯一标准格式：2006-01-02 15:04:05       |
接口调用者可以根据以上参数自行根据查询场景设置查询规则。

### 调用示例
如查询指定业务id为8，应用id为7，配置项id为6的配置项（在请求的url）下，ID为5的配置项元数据详情数据。
```json
{
    "filter": {
        "op": "and",
        "rules": [
            {
                "field": "config_item_id",
                "op": "eq",
                "value": 6
            },
            {
                "field": "id",
                "op": "eq",
                "value": 5
            }
        ]
    },
    "page": {
        "count": false,
        "start": 0,
        "limit": 200
    }
}
```

### 响应示例
```json
{
    "code": 0,
    "message": "ok",
    "data": {
        "count": 0,
        "detail": [
            {
                "id": 5,
                "spec": {
                    "signature": "fddc4f33f13458aaf5eed326d26ba069733084e6ad7acf706615fd67954915fa",
                    "byte_size": 11
                },
                "attachment": {
                    "biz_id": 8,
                    "app_id": 7,
                    "config_item_id": 6
                },
                "revision": {
                    "creator": "tom",
                    "create_at": "2019-07-29 11:57:20"
                }
            }
        ]
    }
}
```

### 响应参数说明
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      code        |      int32      |            错误码                   |
|      message        |      string      |             请求信息                  |
|       data       |      object      |            响应数据                  |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            配置项元数据ID                    |
|      spec        |      object      |            资源信息                    |
|      attachment        |      object      |            配置项元数据关联信息                  |
|      revision        |      object      |            创建信息                    |

#### spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| signature         | string          | 配置内容的SHA256     |
| byte_size         | uint64           | 配置内容的大小，单位：字节     |

#### attachment
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| biz_id         | uint32            | 业务ID     |
| app_id         | uint32            | 应用ID     |
| config_item_id         | uint32          | 配置项ID     |

{% include '_create_revision.md.j2' %}
