### 描述
该接口提供版本：v1.0.0+


查询当前版本配置项快照信息。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| biz_id         | uint32       | 是     | 业务ID     |
| release_id         | uint32       | 是     | 版本ID     |
| page         | object       | 是     | 分页设置    |

{% include '_page.md.j2' %}

### 调用示例
```json
{
  "page": {
      "count": false,
      "start": 0,
      "limit": 200
  }
}
```

### 响应示例
```json
{
    "code": 0,
    "message": "ok",
    "data": {
        "count": 0,
        "detail": [
            {
                "id": 1,
                "release_id": 1,
                "commit_id": 1,
                "commit_spec": {
                    "content_id": 1,
                    "memo": "commit",
                    "content": {
                        "signature": "fddc4f33f13458aaf5eed326d26ba069733084e6ad7acf706615fd67954915fa",
                        "byte_size": 11
                    }
                },
                "config_item_spec": {
                    "name": "server.yaml",
                    "path": "/etc",
                    "file_type": "yaml",
                    "file_mode": "unix",
                    "memo": "my—first-config",
                    "permission": {
                        "user": "root",
                        "user_group": "root",
                        "privilege": "755"
                    }
                },
                "attachment": {
                    "biz_id": 1,
                    "app_id": 1,
                    "config_item_id": 1
                },
                "revision": {
             	    "creator": "tom",
                    "create_at": "2019-07-29 11:57:20"
                }
            }
        ]
    }
}
```

### 响应参数说明
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      code        |      int32      |            错误码                   |
|      message        |      string      |             请求信息                  |
|       data       |      object      |            响应数据                  |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            策略ID                    |
|      release_id        |      uint32      |            版本ID                    |
|      commit_id        |      uint32      |            提交记录ID                    |
|      commit_spec        |      object      |            提交记录资源信息                    |
|      config_item_spec        |      object      |            配置项资源信息                    |
|      attachment        |      object      |            策略关联信息                  |
|      revision        |      object      |            修改信息                    |

#### commit_spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| content_id         | uint32            | 配置内容ID     |
|      memo        |      string      |            备注                   |
|      content        |      object      |            配置项元数据信息                   |

#### content
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| signature         | string          | 配置内容的SHA256     |
| byte_size         | uint64           | 配置内容的大小，单位：字节     |

#### config_item_spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|name	|string	|	配置项名称 |
|path	|string	|	配置项路径 |
|file_type	|string	|	文件格式 |
|file_mode	|string	|	文件模式 |
|      memo        |      string      |            备注                   |
|      permission        |      object      |            配置项权限信息                   |

#### permission
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|user	|string	|	归属用户信息, 例如root |
|user_group|	string	|	归属用户组信息, 例如root |
|privilege|	string	|	文件权限，例如755 |

#### attachment
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| biz_id         | uint32           | 业务ID     |
| app_id         | uint32          | 应用ID     |
| config_item_id         | uint32          | 配置项ID     |

{% include '_revision.md.j2' %}
