### 描述
该接口提供版本：v1.0.0+


查询应用下的分组标签列表。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| app_id         | uint32       | 是     | 应用ID     |
| group_category_id      | uint32       | 是     | 分组标签ID     |
| mode         | string       | 是     | 分组枚举类型：custom,debug     |
|start        |    uint32   |  否	   |记录开始位置，start 起始值为0|
|limit        |    uint32   |   否    |每页限制条数，最大200，不能为0|

```

### 响应示例
```json
{
    "data": {
        "count": 0,
        "details": [
            {
                "id": 5,
                "spec": {
                    "name": "地区",
                },
                "attachment": {
                    "biz_id": 5,
                    "app_id": 13,
                },
                "revision": {
                    "creator": "alkaidchen",
                    "reviser": "alkaidchen",
                    "create_at": "2023-02-28 02:19:18",
                    "update_at": "2023-02-28 02:19:18"
                }
            }
        ]
    }
}
```

### 响应参数说明
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      code        |      int32      |            错误码                   |
|      message        |      string      |             请求信息                  |
|       data       |      object      |            响应数据                  |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      id        |      uint32      |            应用ID                    |
|      spec        |      object      |            资源信息       |
|      attachment        |      object      |            版本关联信息                  |
|      revision        |      object      |            创建信息                    |

#### spec
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| name         | string       | 是      | 应用名称。最大长度128个字符，仅允许使用中文、英文、数字、下划线、中划线，且必须以中文、英文、数字开头和结尾

#### attachment
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| biz_id         | uint32            | 业务ID     |
| app_id         | uint32            | 应用ID     |
| group_category_id | uint32            | 分组标签ID     |

{% include '_revision.md.j2' %}
