### 描述
该接口提供版本：v1.0.0+


查询应用下的版本列表。

### 输入参数
| 参数名称     | 参数类型     | 必选   | 描述             |
| ------------ | ------------ | ------ | ---------------- |
| app_id         | uint32       | 是     | 应用ID     |
| search_key         | string       | 否     | 搜索关键字     |
| start        | uint32       | 否     | 分页起始值     |
| limit        | uint32       | 否     | 分页大小     |
| all         | bool         | 否     | 是否查询全部，默认为false     |
| deprecated  | bool         | 否     | 为true则查询已废弃的版本，默认为false     |

##### 查询参数介绍：
| 参数名称     | 参数类型       | 描述             |
| ------------ | ----------- | ---------------- |
|      name         | string          | 版本名称     |
|      memo        |      string      |            备注                   |
|      creator        |      string      |            创建者                    |
|      create_at        |       string     |           创建时间，时间唯一标准格式：2006-01-02 15:04:05      |
接口调用者可以根据以上参数自行根据查询场景设置查询规则。

### 响应示例
```json
{
    "data": {
        "count": 1,
        "details": [
            {
                "id": 1,
                "spec": {
                    "name": "v1",
                    "memo": "asdfasdf",
                    "deprecated": false,
                    "publish_num": 1
                },
                "status": {
                    "publish_status": "full_released",
                    "released_groups": [
                        {
                            "id": 1,
                            "name": "深圳",
                            "mode": "custom",
                            "old_selector": {
                                "labels_or": [
                                    {
                                        "key": "name",
                                        "op": "eq",
                                        "value": "shenzhen"
                                    },
                                    {
                                        "key": "set",
                                        "op": "in",
                                        "value": [
                                            "shenzhen-1",
                                            "shenzhen-2",
                                            "shenzhen-3"
                                        ]
                                    }
                                ]
                            },
                            "new_selector": {
                                "labels_or": [
                                    {
                                        "key": "name",
                                        "op": "eq",
                                        "value": "shenzhen"
                                    },
                                    {
                                        "key": "set",
                                        "op": "in",
                                        "value": [
                                            "shenzhen-1",
                                            "shenzhen-2",
                                            "shenzhen-3"
                                        ]
                                    }
                                ]
                            },
                            "uid": "",
                            "edited": false
                        },
                        {
                            "id": 0,
                            "name": "默认分组",
                            "mode": "default",
                            "old_selector": null,
                            "new_selector": null,
                            "uid": "",
                            "edited": false
                        }
                    ]
                },
                "attachment": {
                    "biz_id": 2,
                    "app_id": 1
                },
                "revision": {
                    "creator": "alkaidchen",
                    "create_at": "2023-04-11 21:52:02"
                }
            }
        ]
    }
}
```

### 响应参数说明
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      code        |      int32      |            错误码                   |
|      message        |      string      |             请求信息                  |
|       data       |      object      |            响应数据                  |

#### data
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
|      count        |      uint32      |            当前规则能匹配到的总记录条数                  |
|      detail        |      array      |             查询返回的数据                  |

#### data.detail[n]
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ----------------- |
| id           | uint32     | 版本ID             |
| spec         | object     | 资源信息            |
| status       | object     | 版本状态信息         |
| attachment   | object     | 版本关联信息         |
| revision     | object     | 创建信息            |

#### spec
| 参数名称     | 参数类型   | 描述           |
| ------------ | ---------- | ----------- |
| name         | string     | 版本名称     |
| memo         | string     | 备注        |
| deprecated   | bool       | 是否废弃     |
| publish_num  | uint32     | 发布次数     |

#### status
| 参数名称     | 参数类型   | 描述           |
| ------------ | ---------- | ----------- |
| publish_status | string     | 版本状态（枚举值：not_released、partial_released、full_released）     |
| released_groups | []released_group     | 在当前版本上的分组        |

#### released_group
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ----------------- |
| id           | uint32     | 分组ID，0 表示默认分组             |
| name         | string     | 分组名称            |
| mode         | string     | 分组类型（枚举值：custom、debug、default）         |
| old_selector | selector   | 当前线上分组选择器   |
| new_selector | selector   | 修改后的分组选择器   |
| uid          | string     | 调试分组的实例UID  |
| edited       | bool       | 是否为已编辑状态   |


#### attachment
| 参数名称     | 参数类型   | 描述                           |
| ------------ | ---------- | ------------------------------ |
| biz_id         | uint32            | 业务ID     |
| app_id         | uint32            | 应用ID     |

{% include '_create_revision.md.j2' %}
