/*
 * Tencent is pleased to support the open source community by making Blueking Container Service available.
 * Copyright (C) 2019 THL A29 Limited, a Tencent company. All rights reserved.
 * Licensed under the MIT License (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 * http://opensource.org/licenses/MIT
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 * either express or implied. See the License for the specific language governing permissions and
 * limitations under the License.
 */

package migrations

import (
	"time"

	"gorm.io/gorm"

	"github.com/TencentBlueKing/bk-bcs/bcs-services/bcs-bscp/cmd/data-service/db-migration/migrator"
)

func init() {
    // add current migration to migrator
	migrator.GetMigrator().AddMigration(&migrator.Migration{
		Version: "{{.Version}}",
		Name:    "{{.Version}}_{{.FileName}}",
		Mode:    migrator.GormMode,
		Up:      mig{{.Version}}Up,
		Down:    mig{{.Version}}Down,
	})
}

// mig{{.Version}}Up for up migration
func mig{{.Version}}Up(tx *gorm.DB) error {
    // ModelExample : 模型示例，实际迁移DB时，需按实际情况进行修改（包括修改该注释）
    type ModelExample struct {
        ID        uint      `gorm:"type:bigint(1) unsigned not null;primaryKey"`
        Resource  string    `gorm:"type:varchar(50) not null;uniqueIndex:idx_resource"`
        MaxID     uint      `gorm:"type:bigint(1) unsigned not null"`
        UpdatedAt time.Time `gorm:"type:datetime(6) not null"`
    }

    if err := tx.Set("gorm:table_options", "ENGINE=InnoDB CHARSET=utf8mb4").
        AutoMigrate(&ModelExample{}); err != nil {
        return err
    }

    now := time.Now()
    if result := tx.Create([]ModelExample{
        {Resource: "table1", MaxID: 0, UpdatedAt: now},
        {Resource: "table2", MaxID: 0, UpdatedAt: now},
    }); result.Error != nil {
        return result.Error
    }

    return nil

}

// mig{{.Version}}Down for down migration
func mig{{.Version}}Down(tx *gorm.DB) error {
	if err := tx.Migrator().DropTable("model_example"); err != nil {
		return err
	}

	return nil
}
