title: ingress
type: object
properties:
  {{- include "common.metadata" . | indent 2 }}
  controller:
    title: {{ i18n "控制器" .lang }}
    type: object
    properties:
      type:
        title: {{ i18n "控制器类" .lang }}
        type: string
        default: qcloud
        ui:component:
          name: select
          props:
            clearable: false
            datasource:
              - label: qcloud
                value: qcloud
                disabled: false
                tips: ""
              - label: alb
                value: alb
                disabled: false
                tips: "" 
              - label: gce
                value: gce
                disabled: false
                tips: "" 
              - label: azure/application-gateway
                value: azure/application-gateway
                disabled: false
                tips: ""
              - label: nginx
                value: nginx
                disabled: false
                tips: ""
              - label: bcs
                value: bcs
                disabled: true
                tips: {{ i18n "暂时不支持该控制器" .lang }}
        ui:reactions:
          # qcloud、alb 暂时不支持 defaultBackend
          - target: spec.defaultBackend.targetSVC
            if: "{{`{{`}} $self.value === 'qcloud' || $self.value === 'alb' {{`}}`}}"
            then:
              state:
                value: ""
                disabled: true
            else:
              state:
                disabled: false
          - target: spec.defaultBackend.port
            if: "{{`{{`}} $self.value === 'qcloud' || $self.value === 'alb' {{`}}`}}"
            then:
              state:
                value: 0
                disabled: true
            else:
              state:
                disabled: false
          - target: spec.network.clbUseType
            if: "{{`{{`}} $self.value === 'alb' {{`}}`}}"
            then:
              state:
                value: "autoCreate"
                visible: false
            else:
              state:
                visible: true
          - target: spec.network
            if: "{{`{{`}} $self.value === 'gce' || $self.value === 'azure/application-gateway' || $self.value === 'nginx' {{`}}`}}"
            then:
              state:
                value: ""
                visible: false    
            else:
              state:
                visible: true          
          # 目前只支持 qcloud 的重定向，nginx 后续支持了再开放
          - target: spec.cert.autoRewriteHttp
            if: "{{`{{`}} $self.value === 'qcloud' {{`}}`}}"
            then:
              state:
                visible: true
            else:
              state:
                visible: false
    ui:group:
      props:
        border: true
        showTitle: true
        type: card
  spec:
    title: {{ i18n "配置信息" .lang }}
    type: object
    properties:
      {{- include "network.ingRules" . | indent 6 }}
      {{- include "network.ingNetwork" . | indent 6 }}
      {{- include "network.ingDefaultBackend" . | indent 6 }}
      {{- include "network.ingCert" . | indent 6 }}
    ui:group:
      name: tab
      props:
        border: true
        showTitle: true
        type: card
        verifiable: true
    ui:order:
      - ruleConf
      - network
      - defaultBackend
      - cert
