apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-policy-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "istio-policy-controller.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
        global:
          trafficPolicy:
            connectionPool: {}
            tunnel: {}
            loadBalancer:
              simple: RANDOM
              localityLbSetting:
                enabled: true
                failover:
                  - from: gz
                    to: nj
          setting:
            mergeMode: override
            deletePolicyOnServiceDelete: true
            updateUnmanagedResources: true
            autoGenerateVS: true
        services:
          - name: my-svc
            namespace: bcs-system
            trafficPolicy:
              loadBalancer:
                simple: RANDOM
            setting:
              mergeMode: override
              deletePolicyOnServiceDelete: true
              updateUnmanagedResources: true

