@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';
@import '@/css/mixins/clearfix.css';

.biz-crd-instance-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;

    .back {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: -1px;
        color: #3a84ff;
    }

    .info {
        font-size: 12px;
        color: #979ba5;
    }

}
/deep/ .bk-table .cell {
    display: block !important;
}

.search-wrapper {
    .left {
        margin-left: 10px;
    }
}

.polaris-wrapper {
    border: 1px solid #DCDEE5;
    border-radius: 2px;
    padding: 20px;
    background: #FAFBFD;
    &.polaris-info {
        height: 180px;
    }
}


.polaris-inner-wrapper {
    padding: 20px 15px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #DCDEE5;
    position: relative;

}

.polaris-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 50% 50%;
    cursor: pointer;
    font-size: 12px;

    &:hover {
        background-color: #f3f3f3;
    }
}

.polaris-block-btn {
    width: 100%;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #63656e;
    border: 1px dashed #C4C6CC;
    border-radius: 2px;
    box-sizing: border-box;

    &:hover {
        border: 1px solid #3a84ff;
        color: #3a84ff;
    }

    .bcs-icon {
        font-weight: bold;
        position: relative;
        top: -3px;
        font-size: 12px;
        margin-right: 2px;
        color: #979BA5;
    }
}

.polaris-cell-item {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    .label {
        min-width: 66px;
        display: inline-block;
    }
}

.bk-form-content {
    &.token {
        display: flex;
        align-items: center;
    }
    .basic-input {
        width: 320px;
    }
}
