{
    "apiVersion":"v4",
    "kind":"secret",
    "metadata":{
        "name":"${bcsGwControllerName}-secret",
        "namespace":"${bcsGwControllerNamespace}",
        "labels":{
            "app": "${bcsGwControllerName}"
        }
    },
    "datas":{
        "gw-controller-kubeconfig": {
            "content": "${bcsGwControllerKubeconfigBase64}"
        }
    }
}