# for all gw controller
export bcsGwControllerNginxConfBase64=""
export bcsGwControllerKubeconfigBase64=""

# for each Gw controller
export bcsGwControllerName=""
export bcsGwControllerNamespace="bcs-system"
export bcsGwControllerNginxImage="repository.com:8080/nginx"
export bcsGwControllerNginxTag=""
export bcsGwControllerImage="repository.com:8080/gw-controller"
export bcsGwControllerImageTag=""
export bcsGwControllerImagePullPolicy="Always"
export bcsGwControllerMetricPort="18484"
export bcsGwControllerServiceRegistry=""
export bcsGwControllerBackendIPType="underlay"
export bcsGwControllerNetworkType="cni"
export bcsGwControllerNetworkMode="macvlan"