{
    "zkHost": "${bcsZkHostSemicolon}",
    "tls": {
        "key": "/data/bcs/bcs-cni/bin/conf/etc/bcs-inner-client.key",
        "pubkey": "/data/bcs/bcs-cni/bin/conf/etc/bcs-inner-client.crt",
        "cacert": "/data/bcs/bcs-cni/bin/conf/etc/bcs-inner-ca.crt"
    }
}