{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sm-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: prometheus-operator-thanos-sidecar
    release: "po" # 必须带这个label
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      release: po
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
  - port: metric
    interval: 30s
{{- end }}