---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dr.bkbcs.tencent.com
  resources:
  - drplanexecutions
  - drplans
  - drworkflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dr.bkbcs.tencent.com
  resources:
  - drplanexecutions/finalizers
  - drplans/finalizers
  - drworkflows/finalizers
  verbs:
  - update
- apiGroups:
  - dr.bkbcs.tencent.com
  resources:
  - drplanexecutions/status
  - drplans/status
  - drworkflows/status
  verbs:
  - get
  - patch
  - update
