

.bk-input-box {
    width: 100%;
    display: inline-block;
    position: relative;

    .bk-form-input {
        width: 100%;
    }
}

.bk-input-result {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 100;
    overflow-y: hidden;

    ul {
        max-height: 169px !important;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-y: auto;
    }

    li {
        position: relative;
        width: 100%;
        border-left: #c4c6cc;
        border-right: #c4c6cc;
        background-color: #fff;
        cursor: pointer;

        .text {
            padding: 0 10px;
            line-height: 42px;
            font-size: 14px;
            display: block;
            text-align: left;
        }
    }
}

.bk-selector-list {
    min-width: 150px;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 10%);
    background-color: #fff;
    z-index: 100;
    overflow-y: hidden;

    > ul {
        max-height: 160px;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow-y: auto;
    }
}