.bcs-small-form {
  &-item {
    margin-top: 0;
    font-size: 12px;
    width: 100%;
  }
  >>> .bk-label {
    font-size: 12px;
    color: #979BA5;
    min-height: 20px;
    line-height: 20px;
  }
  >>> .bk-form-item {
    margin: 0 0 12px 0;
  }
  >>> .bk-form-content {
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #313238;
  }
}