@import 'highlight.js/styles/googlecode.css';
@import 'diff2html/dist/diff2html.css';

.bk-diff {
    .hljs {
        display: inline-block;
        padding: 0;
        background: transparent;
        vertical-align: middle;
        overflow-y: hidden;
    }
    .d2h-file-header {
        display: none
    }
    .d2h-file-diff {
        &::-webkit-scrollbar {
            width: 6px;
            height: 5px;
            /* background-color: lighten(transparent, 80%); */
            background-color: color(transparent lightness(80%));
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: #e6e9ea;
        }
    }
    .d2h-info {
        background-color: transparent;
    }
    .d2h-file-side-diff {
        &::-webkit-scrollbar {
            width: 6px;
            height: 5px;
            /* background-color: lighten(transparent, 80%); */
            background-color: color(transparent lightness(80%));
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: #e6e9ea;
        }
    }
    .d2h-file-wrapper {
        border: none;
    }

    .diff-tip-box {
        height: 100%;
        min-height: 100px;
        text-align: center;
        border-radius: 2px;
        line-height: 100px;
    }
}
