# for all clb controller
export bcsClbControllerNginxConfBase64=""
export bcsClbControllerSecretIdBase64=""
export bcsClbControllerSecretKeyBase64=""
export bcsClbControllerKubeconfigBase64=""

# for each clb controller
export bcsClbControllerName=""
export bcsClbControllerNamespace="clb"
export bcsClbControllerNginxImage="repository.com:8080/nginx"
export bcsClbControllerNginxTag=""
export bcsClbControllerImage="repository.com:8080/clb-controller"
export bcsClbControllerImageTag=""
export bcsClbControllerImagePullPolicy="Always"
export bcsClbControllerMetricPort="18484"
export bcsClbControllerServiceRegistry=""
export bcsClbControllerBackendIPType="underlay"
export bcsClbControllerClbNetType="" # private or public
export bcsClbControllerClbName="" # associated clb instance name
export bcsClbControllerImplementType="api" # api or sdk
export bcsClbControllerBackendMode="eni" # cvm or eni
export bcsClbControllerClbRegion="" 
export bcsClbControllerClbProjectId="" 
export bcsClbControllerVpcId=""
export bcsClbControllerSubnetId="xxxxx" #
export bcsClbControllerNetworkType="cni"
export bcsClbControllerNetworkMode="bcs-qcloud"