apiVersion: v1
kind: Pod
metadata:
  name: bcs-datawatch
  namespace: kube-system
  labels:
    app: datawatch
spec:
  hostNetwork: true
  containers:
    - name: bcs-datawatch
      image: ${kubeWatchImage}
      imagePullPolicy: Always
      volumeMounts:
        - name: watcherconfig
          mountPath: /config/
          readOnly: true
  volumes:
    - name: watcherconfig
      hostPath:
        path: ${kubeWatchConfig}
