{
  "address": "${localIp}",
  "port": ${bcsMetricServicePort},
  "metric_port": ${bcsMetricServiceMetricPort},
  "bcs_zookeeper": "${bcsZkHost}",
  "api_token": "${bcsApiToken}",
  "temp_dir": "${tempDir}",
  "ca_file": "${caFile}",
  "client_cert_file": "${clientCertFile}",
  "client_key_file": "${clientKeyFile}",
  "server_cert_file": "${serverCertFile}",
  "server_key_file": "${serverKeyFile}"
}
