{
  "system_id": "{{ BK_IAM_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_action",
      "data": {
        "id": "namespace_scoped_create",
        "name": "资源创建(命名空间域)",
        "name_en": "create resource(namespace_scoped)",
        "description": "用户创建命名空间域资源",
        "description_en": "user create namespace-scoped resource(e.g. create pod)",
        "type": "create",
        "related_resource_types": [
          {
            "system_id": "{{ BK_IAM_SYSTEM_ID }}",
            "id": "namespace",
            "name_alias": "",
            "name_alias_en": "",
            "selection_mode": "instance",
            "related_instance_selections": [
              {
                "system_id": "{{ BK_IAM_SYSTEM_ID }}",
                "id": "namespace_list"
              }
            ]
          }
        ],
        "related_actions": [
          "project_view",
          "cluster_view",
          "namespace_view"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "namespace_scoped_view",
        "name": "资源查看(命名空间域)",
        "name_en": "view resource(namespace_scoped)",
        "description": "用户查看命名空间域资源",
        "description_en": "user view namespace-scoped resource(e.g. view pod)",
        "type": "view",
        "related_resource_types": [
          {
            "system_id": "{{ BK_IAM_SYSTEM_ID }}",
            "id": "namespace",
            "name_alias": "",
            "name_alias_en": "",
            "selection_mode": "instance",
            "related_instance_selections": [
              {
                "system_id": "{{ BK_IAM_SYSTEM_ID }}",
                "id": "namespace_list"
              }
            ]
          }
        ],
        "related_actions": [
          "project_view",
          "cluster_view",
          "namespace_view"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "namespace_scoped_update",
        "name": "资源更新(命名空间域)",
        "name_en": "update resource(namespace_scoped)",
        "description": "用户更新命名空间域资源",
        "description_en": "user update namespace-scoped resource(e.g. update pod)",
        "type": "edit",
        "related_resource_types": [
          {
            "system_id": "{{ BK_IAM_SYSTEM_ID }}",
            "id": "namespace",
            "name_alias": "",
            "name_alias_en": "",
            "selection_mode": "instance",
            "related_instance_selections": [
              {
                "system_id": "{{ BK_IAM_SYSTEM_ID }}",
                "id": "namespace_list"
              }
            ]
          }
        ],
        "related_actions": [
          "project_view",
          "cluster_view",
          "namespace_view",
          "namespace_scoped_view"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "namespace_scoped_delete",
        "name": "资源删除(命名空间域)",
        "name_en": "delete resource(namespace_scoped)",
        "description": "用户删除命名空间域资源",
        "description_en": "user delete namespace-scoped resource(e.g. delete pod)",
        "type": "delete",
        "related_resource_types": [
          {
            "system_id": "{{ BK_IAM_SYSTEM_ID }}",
            "id": "namespace",
            "name_alias": "",
            "name_alias_en": "",
            "selection_mode": "instance",
            "related_instance_selections": [
              {
                "system_id": "{{ BK_IAM_SYSTEM_ID }}",
                "id": "namespace_list"
              }
            ]
          }
        ],
        "related_actions": [
          "project_view",
          "cluster_view",
          "namespace_view",
          "namespace_scoped_view"
        ],
        "version": 1
      }
    }
  ]
}
