{
  "system_id": "{{ BK_IAM_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_common_actions",
      "data": [
        {
          "name": "集群资源查看",
          "name_en": "view all resources in cluster",
          "actions": [
            {
              "id": "project_view"
            },
            {
              "id": "cluster_view"
            },
            {
              "id": "cluster_scoped_view"
            },
            {
              "id": "namespace_view"
            },
            {
              "id": "namespace_list"
            },
            {
              "id": "namespace_scoped_view"
            }
          ]
        },
        {
          "name": "集群资源管理",
          "name_en": "manage all resources in cluster",
          "actions": [
            {
              "id": "project_view"
            },
            {
              "id": "cluster_view"
            },
            {
              "id": "cluster_scoped_view"
            },
            {
              "id": "cluster_scoped_create"
            },
            {
              "id": "cluster_scoped_update"
            },
            {
              "id": "cluster_scoped_delete"
            },
            {
              "id": "namespace_create"
            },
            {
              "id": "namespace_list"
            },
            {
              "id": "namespace_view"
            },
            {
              "id": "namespace_update"
            },
            {
              "id": "namespace_delete"
            },
            {
              "id": "namespace_scoped_create"
            },
            {
              "id": "namespace_scoped_view"
            },
            {
              "id": "namespace_scoped_update"
            },
            {
              "id": "namespace_scoped_delete"
            }
          ]
        }
      ]
    }
  ]
}
