{
  "system_id": "{{ BK_IAM_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_action",
      "data": {
        "id": "cloud_account_create",
        "name": "云账号创建",
        "name_en": "cloud account create",
        "description": "用户创建云账号",
        "description_en": "user create cloud account",
        "type": "create",
        "related_resource_types": [
          {
            "system_id": "{{ BK_IAM_SYSTEM_ID }}",
            "id": "project",
            "name_alias": "",
            "name_alias_en": "",
            "related_instance_selections": [
              {
                "system_id": "{{ BK_IAM_SYSTEM_ID }}",
                "id": "project_list"
              }
            ]
          }
        ],
        "related_actions": [
          "project_view"
        ],
        "version": 1
      }
    }
  ]
}