[flake8]
ignore = W292,E116,E302,F401,W605,C901,F405,F403,W504,E741,E125,W503,F841,E203,E231,F541
exclude =
    *migrations*,
    *.pyc,
    .git,
    __pycache__,
    node_modules/*,
    */templates_module*,
    */bin/*,
    */settings/*,
    backend/packages/*,
max-line-length=129
max-complexity=12
format=pylint
show_source = True
statistics = True
count = True
