

.biz-page-count {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.biz-page-count .total-page {
    float: left;
}

.biz-page-count .page-count-selector {
    margin-left: 15px;
    float: left;
}
