.bk-schema-form .mr24 {
  margin-right: 24px;
}

.bk-schema-form .bk-form-item {
  margin-top: unset !important;
}

.bk-schema-form .bk-form-item .bk-form-content .group-text {
  background-color: #f2f4f8;
  height: 100%;
}

.bk-schema-form .bk-form-item .bk-select{
  background: #fff;
}

.bk-schema-form .bk-schema-form-group.normal {
  padding: 24px;
  position: relative;
}

.bk-schema-form .bk-schema-form-group.card{
  background: #fff;
  padding: 0 24px 24px 24px;
  border-radius: 2px;
}

.bk-schema-form .bk-schema-form-group .bk-schema-form-group-title {
  font-size: 14px;
  font-weight: 600;
  color: #63656E;
}

.bk-schema-form .bk-schema-form-group .bk-schema-form-group-title.normal {
  position: absolute;
  top: -1em;
  left:  10px;
  line-height: 2em;
  padding: 0 0.5em;
  background: #fff;
}

.bk-schema-form .bk-schema-form-group .bk-schema-form-group-title.card{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 24px;
  margin: 0 -24px 16px -24px;
}

.bk-schema-form .bk-collapse-item .bk-collapse-item-header {
  height: 54px;
  padding: 0;
}

.bk-schema-form .bk-collapse-item .bk-collapse-item-content {
  background: #f5f7fa;
  padding: 0 34px 16px 34px;
}

.bk-schema-form .bk-schema-form-group-add {
  font-size: 14px;
  color: #3a84ff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bk-schema-form .bk-schema-form-group-delete {
  position: absolute;
  cursor: pointer;
  color: #979bA5;
}

.bk-schema-form .bk-schema-form-group-delete:hover {
  color: #3a84ff;
}

.bk-schema-form-item__error-tips {
  color: #f5222d;
  font-size: 12px;
  margin-top: 5px;
  margin: 0;
  line-height: 1.5em;
}

.bk-schema-form-item--error input,
.bk-schema-form-item--error .bk-textarea-wrapper,
.bk-schema-form-item--error .bk-select {
  border: 1px solid #f5222d;
}