.detail {
    font-size: 14px;
    /deep/ .bk-tab-label-item {
        background-color: #FAFBFD;
        border-bottom: 1px solid #dcdee5;
        line-height: 41px !important;
        height: 41px;
        &.active {
            border-bottom: none;
        }
    }
    /deep/ .bk-tab-label-wrapper {
        overflow: unset !important;
    }
    &-title {
        margin-bottom: 10px;
        color: #313238;
    }
    &-content {
        &.basic-info {
            border: 1px solid #dfe0e5;
            border-radius: 2px;
            .basic-info-item {
                display: flex;
                align-items: center;
                height: 32px;
                padding: 0 15px;
                &:nth-of-type(even) {
                    background: #F7F8FA;
                }
                label {
                    line-height: 32px;
                    border-right: 1px solid #dfe0e5;
                    width: 200px;
                }
                span {
                    padding: 0 15px;
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .bcs-icon-copy:hover {
        color: #3a84ff;
        cursor: pointer;
    }
}
