.bk-file-upload {
    .file-list {}

    .upload-icon {
        width: 24px;
        vertical-align: middle;
        margin-top: -5px;
    }

    .file-item-wrapper {
        height: 70px;
        border: 1px dashed #c4c6cc;
        border-radius: 2px;
        background: rgba(250, 251, 253, 1);
        display: flex;
        padding: 13px;
        position: relative;

        .file-icon {
            width: 45px;
            height: 45px;
            border-radius: 2px;
            margin-right: 5px;
        }

        .icon-close {
            font-size: 12px;
            cursor: pointer;
            margin-top: -4px;
        }

        .file-info {
            flex: 1;
            text-align: left;
        }

        .file-metedata {
            overflow: hidden;
        }

        .file-name {
            font-size: 14px;
            color: #737987;
            margin: 5px auto 7px auto;
            line-height: 1;
            text-align: left;
            float: left;
        }

        .file-status {
            float: right;
            font-size: 12px;
            color: #737987;
            margin: 5px 10px 7px auto;

            &.success {
                color: #30d878;
            }

            &.error {
                color: #ff5656;
            }
        }

        &.error {
            .file-progress {
                .file-progress-bar {
                    background: #ff5656;
                }
            }
        }

        &.success {
            .file-progress {
                .file-progress-bar {
                    background: #30d878;
                }
            }
        }

        .file-progress {
            width: 100%;
            height: 6px;
            background: #dde4eb;
            position: relative;
            border-radius: 12px;
            overflow: hidden;

            .file-progress-bar {
                position: absolute;
                border-radius: 12px;
                left: 0;
                top: 0;
                width: 100%;
                height: 6px;
                background: #3a84ff;

                &.running {
                    animation: progress 2s infinite ease-in-out;
                }
            }
        }

        +.file-item {
            margin-top: 10px;
        }
    }

    .tip {
        color: #FF5656;
        font-size: 14px;
        margin: 10px 0;
    }

    .file-input {
        width: 100%;
        min-width: 500px;
        height: 70px;
        line-height: 70px;
        border: 1px dashed #c4c6cc;
        border-radius: 2px;
        text-align: center;
        position: relative;

        .trigger-btn {
            text-align: center;
            display: block;
            width: 100%;
            font-size: 14px;
            color: #3a84ff;
            line-height: 70px;
            border: none;
            background: none;
            position: relative;
            cursor: pointer;
            outline: none;
        }

        input[type=file] {
            width: 100%;
            height: 70px;
            position: absolute;
            left: 0;
            z-index: 10;
            cursor: pointer;
            top: 0;
            opacity: 0;
        }
    }
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
