@import './font.css';

:root {
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
list-style: none;
}

a {
  color: #3A84FF;
  text-decoration: none;
}
textarea {
  background-color: #fff;
}
.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.center-top-infobox {
  top: 35% !important;
}

.bk-textarea.resizable {
  resize: vertical;
}