{
    "cluster": "BCS-MARS-TEST-000001",
    "cloud": "aws",
    "kubeconfig": "${}",
    "netserviceZookeeper": "${bcsZkHost}",
    "netserviceCa": "${caFile}",
    "netserviceKey": "${clientKeyFile}",
    "netserviceCert": "${clentCertFile}",
    "subnets": "${cloudSubnets}",
    "eniNum": ${eniNum},
    "ipNumPerEni": ${ipNumPerEni},
    "eniMTU": "${eniMTU}",
    "ifaces": "${eniIfaces}",
    "v": "${bcsCloudNetworkAgentLogLevel}"
}