{
  "local_ip": "${localIp}",
  "bcs_zookeeper": "${bcsZkHost}",
  "metric_port": ${bcsMetricCollectorMetricPort},
  "log_dir": "${log_dir}",
  "pid_dir": "${pid_dir}",
  "ca_file": "${caFile}",
  "client_cert_file": "${clientCertFile}",
  "client_key_file": "${clientKeyFile}"
}