@tailwind components;
@tailwind utilities;

@layer components {
  .bcs-sideslider-content {
    padding: 20px 30px;
  }

  .bcs-icon-more-btn {
    font-size: 18px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #979ba5;
    position: relative;
    top: 1px;
    &:hover {
      background: #ddd;
      color: #3a84ff
    }
  }

  .bcs-dropdown-item {
    display: block;
    height: 32px;
    line-height: 33px;
    padding: 0 16px;
    color: #63656e;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: #eaf3ff;
        color: #3a84ff;
    }
    &.disabled {
        color: #dcdee5;
        cursor: not-allowed;
    }
}
}
