

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: overlay !important;
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    color: #63656e;
    letter-spacing: .3px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl,
dt,
dd,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
