@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';
@import '@/css/mixins/clearfix.css';

.biz-cluster-create-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;

    .back {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 1px;
        color: $iconPrimaryColor;
    }
}

.bk-button-group {
    vertical-align: top;
    .bk-button {
        width: 160px;
        height: 32px;
        line-height: 30px;
        &.active {
            background-color: #E1ECFF !important;
        }
    }
}

.biz-cluster-create-wrapper {
    display: flex;
    border: 1px solid #DCDEE5;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.biz-cluster-create-form-wrapper {
    flex: 1;
    min-width: 860px;
    padding: 30px 30px 0 26px;
    .biz-cluster-create-form-tip {
        height: 28px;
        line-height: 28px;
        padding: 0 10px 0 0;

        &.is-danger {
            color: $dangerColor;
            background-color: #fafbfd;

            .tip-text {
                color: $dangerColor;
            }
        }

        .tip-text {
            float: left;
            font-size: 12px;
            color: $fontWeightColor;
            display: inline-block;
            padding: 0;
            margin: 0;
            white-space: nowrap;
        }
    }

    .form-item {
        display: flex;
        margin-bottom: 20px;
        color: #63656E;

        .biz-span {
            text-align: left;
            margin: 0;
            &:after {
                content: none;
            }
            .title {
                padding: 0;
            }
            .bk-text-button {
                padding: 0;
            }
        }
        .bk-text-button {
            .bcs-icon {
                transition: all ease 0.3s;
                transform: rotate(270deg);
                display: inline-block;
            }

            &.rotate {
                .bcs-icon {
                    transform: rotate(90deg);
                }
            }
        }
        .bk-button-group {
            button {
                margin: 0 0 0 -1px;
            }
            button.active {
                background-color: #fff;
                border-color: #3a84ff;
                color: #3a84ff;
                position: relative;
                z-index: 1;
            }
        }

        .info-item {
            color: #c3cdd7;
            background-color: #fafbfd;
            font-size: 14px;
            margin-left: 118px;
            &.long {
                margin-left: 178px;
            }
        }

        >label {
            line-height: 32px;
            font-size: 14px;
            width: 140px;
            min-width: 140px;
        }

        &.en {
            .info-item {
                margin-left: 183px;
                &.long {
                    margin-left: 228px;
                }
            }

            .form-item-inner {
                .bk-form-radio {
                    width: 140px;
                }
            }

            textarea {
                width: 720px;
            }
        }

        .red {
            color: red;
            margin-right: 3px;
        }

        .cluster-name {
            width: 320px;
        }

        textarea {
            min-height: 60px;
            width: 750px;
        }

        .form-item-inner {
            flex: 1;
            position: relative;
            margin-left: 26px;

            &.dropdown {
                flex: 0 0 320px;
                vertical-align: middle;
                background-color: #fff;
                position: relative;
                .tip-wrapper {
                    position: absolute;
                    right: -25px;
                    top: 6px;
                }
            }

            .host-opertation {
                display: flex;
                align-items: center;
            }

            .netword-area {
                display: flex;
                flex-wrap: wrap;
                width: 540px;
                font-size: 14px;
                padding: 0 20px 20px;
                border-radius: 2px;
                background-color: #F5F6FA;
                .netword-area-item {
                    flex: 0 0 calc(50% - 5px);
                    margin-top: 10px;
                    &:nth-child(odd) {
                        margin-right: 10px;
                    }
                    >label {
                        display: inline-block;
                        line-height: 30px;
                    }
                }
                .computed-rules {
                    width: 100%;
                    color: #979BA5;
                    font-size: 12px;
                    margin-top: 4px;
                }
            }

            .is-disabled {
                cursor: not-allowed !important;
            }

            .bk-form-radio {
                width: 84px;
            }

            .bk-button {
                &.is-danger {
                    border: 1px solid $dangerColor;
                    color: $dangerColor;
                }
            }

            .server-select-button {
                width: 540px;
                height: 42px;
                line-height: 40px;
                color: #3A84FF;
                border: 1px dashed #C4C6CC;
                &.disabled {
                    color: #C4C6CC;
                    border: 1px dashed #DCDEE5;
                    background: #fafbfd;
                }
            }

            .apply-host {
                /deep/ .bk-button {
                    height: 42px;
                    line-height: 40px;
                }
            }

            .apply-host-disabled {
                height: 42px;
                line-height: 40px;
            }

            /deep/ .cluster-prod {
                margin-left: -2px;
            }
        }
    }

    .tke-tip {
        width: 750px;
        font-size: 14px;
        color: red;
    }
}

.biz-cluster-create-form-tips {
    max-width: 520px;
    padding: 0 10px 20px;
    border-left: 1px solid #DCDEE5;
    .tips-item {
        color: #63656E;
        margin-top: 14px;
        padding: 4px 10px;
        border-radius: 2px;
        &.active {
            background-color: #E1ECFF;
        }
        .title {
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 6px;
        }
        .item-content {
            font-size: 12px;
        }
        .tips-list {
            li {
                position: relative;
                padding-left: 10px;
                margin-bottom: 10px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 4px;
                    height: 4px;
                    background-color: #63656E;
                    border-radius: 50%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.biz-cluster-create-form-footer {
    position: fixed;
    width: calc(100% - 261px);
    height: 60px;
    line-height: 60px;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    text-align: center;
    border-top: 1px solid #DCDEE5;
    box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.05);
    z-index: 2;
    .bk-button {
        width: 86px;
    }
}
@media screen and (max-width: 1440px) {
    .biz-cluster-create-form-footer {
        width: calc(100% - 241px);
    }
}

.biz-cluster-create-table-header {
    @mixin clearfix;
    background-color: #fff;
    height: 60px;
    line-height: 59px;
    font-size: 16px;
    padding: 0 20px;

    .left {
        float: left;

        .tip {
            font-size: 12px;
            margin-left: 10px;
            color: $fnMinorColor;
        }

        .remain-tip {
            font-size: 12px;
            margin-left: 10px;
            color: $dangerColor;
        }
    }

    .right {
        float: right;
    }

    .page-wrapper {
        height: 22px;
        display: inline-block;
        position: relative;
        top: -2px;
        line-height: 22px;

        ul {
            margin: 0;
            padding: 0;
            display: inline-block;
            overflow: hidden;
            height: 22px;
        }

        .page-item {
            min-width: 22px;
            height: 22px;
            line-height: 20px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            float: left;
            margin-right: 0;
            border: 1px solid $fnMinorColor;
            box-sizing: border-box;
            border-radius: 2px;
            overflow: hidden;

            i {
                font-size: 12px;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:hover {
                border-color: $iconPrimaryColor;
            }

            &.disabled {
                border-color: $fnMinorColor !important;

                .page-button {
                    cursor: not-allowed;
                    background-color: #fafafa;

                    &:hover {
                        color: $fontWeightColor;
                    }
                }
            }

            .page-button {
                display: block;
                color: $fontWeightColor;
                background-color: #fff;

                &:hover {
                    color: $iconPrimaryColor;
                }
            }
        }
    }
}

.biz-cluster-create-table {
    background-color: #fff;
    border: 1px solid $borderWeightColor;
    width: 100%;

    thead {
        background-color: $bgHoverColor;

        tr {
            th {
                height: 40px;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                background-color: $bgHoverColor;
            }

            td {
                height: 40px;
                font-size: 12px;
            }
        }
    }

    .inner-ip {
        @mixin ellipsis 100px;
    }

    .inner-ip-tips {
        /deep/ .bk-tooltip-inner {
            max-height: 324px;
            overflow-y: auto;
        }
    }

    .no-data {
        min-height: 399px;

        .empty-message {
            margin-top: 160px;
        }
    }
}

.biz-cluster-create-choose-dialog {
    .biz-searcher-wrapper {
        width: 300px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .biz-cluster-create-table {
        border-left: none;
        border-right: none;
        width: 100%;

        thead {
            tr {
                th {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding-top: 0;
                    padding-bottom: 0;
                    position: relative;
                    line-height: 1;
                }
            }
        }

        .name {
            vertical-align: middle;
            @mixin ellipsis 120px;
        }

        .inner-ip {
            @mixin ellipsis 200px;
        }

        .idcunit {
            @mixin ellipsis 200px;
        }

        .server-rack {
            @mixin ellipsis 130px;
        }

        .device-class {
            @mixin ellipsis 80px;
            vertical-align: bottom;
        }
    }

    /* .biz-cluster-create-table-header {
        border-left: none;
        border-right: none;
    } */

    .biz-page-box {
        padding: 10px 25px 10px 0;
        background-color: $bgHoverColor;
        border-top: 1px solid $borderWeightColor;
        margin-top: -1px;
    }

    .bk-dialog-footer.bk-d-footer {
        background-color: #fff;
    }
}

.host-seletor-table {
    /deep/ .bk-table-pagination-wrapper {
        .bk-page-total-count, .bk-page-count {
            display: none;
        }
    }
}

.create-selector-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-tips {
        text-align: left;
        font-size: 12px;
    }
}
