@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-cluster-wrapper {
    padding: 0;
}

.cluster-btns {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.biz-cluster-list {
    padding: 20px;
}

.biz-status-box {
    margin-top: 20px;
}

.biz-cluster {
    width: 300px;
    height: 360px;
    border: 1px solid $borderWeightColor;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(221, 228, 235, 0.3);
    background: #fff;
    position: relative;
    display: inline-block;
    margin: 0 22px 22px 0;
    vertical-align: top;

    .bk-mark-corner {
        z-index: 10;
        left: -2px;

        &:before {
            border-color: $warningColor transparent transparent $warningColor;
        }

        p {
            left: -6px;
        }
    }

    .biz-cluster-header {
        height: 75px;
        padding: 17px 0 0 24px;
        border-bottom: 1px solid $borderWeightColor;
        position: relative;

        .cluster-title {
            @mixin ellipsis 200px;
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 4px 0;
            &.clickable {
                cursor: pointer;
                &:hover {
                    color: #3a84ff;
                }
            }
            a {
                color: $fontColor;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        .cluster-metadata {
            margin: 0;
            font-size: 12px;
            color: $fnMinorColor;
            display: flex;
            align-items: center;

            .cluster-id {
                @mixin ellipsis 200px;
                vertical-align: bottom;
                color: #979ba5;
            }

            .stag,
            .prod {
                border: 1px solid $fnMinorColor;
                padding: 1px 8px;
                border-radius: 2px;
                margin-left: 5px;
                height: 21px;
                display: inline-block;
                transform: scale(0.85);
            }

            .stag {
                color: $warningColor;
                background-color: #fff3da;
                border: solid 1px $warningColor;
            }

            .prod {
                color: $primaryColor;
                background-color: #e1f3ff;
                border: solid 1px $primaryColor;
            }
        }

        .bk-dropdown-menu {
            position: absolute;
            top: 8px;
            right: 0;
        }

        /deep/ .cluster-opera-btn {
            width: 70px;
            height: 60px;
            border: none;
            background: transparent;
            font-size: 30px;
            outline: 0;
            margin-bottom: -30px;
            color: #979ba5;

            &.hover {
                color: $primaryColor;
            }
        }
    }

    .biz-cluster-content {
        padding: 30px 24px 0 24px;
        &.more-info {
            padding: 20px 24px 0 24px;
            .biz-progress-box {
                margin-bottom: 20px;
                .progress-header {
                    margin-bottom: 5px;
                }
            }
        }
        .status-opera {
            .disabled {
                color: #c3cdd7;
                cursor: not-allowed;
            }
        }
    }
}

.biz-cluster-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
    .cc-info {
        font-size: 12px;
        color: #979ba5;
    }
}

.biz-guide-box {
    background: transparent;
    box-shadow: none;

    .title {
        font-size: 22px;
        color: #333;
    }
}

.biz-cluster-guide {
    width: 380px;
    /* height: calc(100% - 282px); */
    height: 100%;
    padding: 40px 30px;
    position: fixed;
    right: 0;
    /* top: 72px; */
    top: 0;
    background: #fff;
    border-left: 1px solid $borderColor;
    font-size: 14px;
    color: $fontWeightColor;

    .title {
        font-size: 18px;
        color: #333948;
        margin: 0;
        padding: 0;
        margin-bottom: 18px;
    }

    .text {
        line-height: 24px;
        padding: 0;
        margin: 0 0 30px 0;

        strong {
            color: #52525d;
        }
    }

    dt {
        font-weight: bold;
        margin-bottom: 6px;
        padding-left: 9px;
        position: relative;

        &:before {
            content: '';
            width: 4px;
            height: 4px;
            background-color: $fontWeightColor;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }

    dd {
        margin-bottom: 6px;
        line-height: 24px
    }

    .operate {
        margin-top: 25px;
    }
}

.add-node-btn {
    width: 100%;
}

.biz-progress-box,
.add-node-btn-wrapper {
    margin-bottom: 28px;
}

.add-node-btn-wrapper {
    padding: 0 24px;
}

.biz-log-box {
    font-size: 12px;

    .operation-item {
        padding: 10px 0;
        border-bottom: 1px solid $borderWeightColor;

        &:last-child {
            border-bottom: none;
        }
    }

    .log-message {
        line-height: 22px;
        font-size: 12px;
        padding: 0;
        font-family: Microsoft Yahei;
        margin: 0 0 5px 0;

        &.title {
            font-size: 14px;
            font-weight: 700;
        }

        &.item {
            margin-left: 20px;
        }
    }
}

.biz-cluster-add {
    cursor: pointer;
    text-align: center;
    &:hover {
        border-color: $primaryColor;
        i {
            color: #3a84ff;
        }
        strong {
            color: #3a84ff;
        }
    }
    .add-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .bcs-icon {
        font-size: 32px;
        font-weight: bold;
        color: #C3CDD7;
    }
    strong {
        font-size: 14px;
        color: $fontColor;
        display: block;
        margin-top: 10px;
        font-weight: normal;
    }
}

.cluster-opera-btn {
    .bcs-icon.icon-more {
        color: $fontColor;
        font-size: 26px;
        width: 32px;
        height: 32px;
        display: inline-block;
        line-height: 32px;
    }

    &.hover {
        .bcs-icon.icon-more {
            color: $primaryColor;
            background-color: #F0F1F5;
            border-radius: 50%;
        }
    }
}

.update-cluster-dialog {
    .update-cluster-form {
        margin: 0 auto;
        .is-disabled {
            cursor: not-allowed !important;
        }
        .form-item {
            margin-bottom: 20px;
            .red {
                color: red;
                margin-right: 3px;
            }
            > label {
                font-size: 14px;
                font-weight: 700;
                width: 95px;
                display: inline-block;
                &.tip {
                    width: 100%;
                    p {
                        text-align: center;
                        color: red;
                    }
                }
            }
            .form-item-inner {
                display: inline-block;
                position: relative;
                width: 310px;
                text-align: left;
                .bk-button {
                    &.is-danger {
                        border: 1px solid #ff5656;
                        color: #ff5656;
                    }
                }
            }
        }
    }
}

.reupgrade-cluster {
    button.disabled {
        background-color: #fafafa;
        border-color: $borderLightColor;
        color: #ccc;
        cursor: not-allowed;

        &:hover {
            background-color: #fafafa;
            border-color: $borderLightColor;
        }
    }
}

@media screen and (max-width: $mediaWidth) {
    .biz-cluster-guide {
        width: 320px;
    }
}

@media screen and (min-width: $mediaWidth) {
    .biz-guide-box.show-guide {
        margin-right: 380px;
    }
}
