.biz-cluster {
    .biz-cluster-content {
        padding: 30px 24px 0 24px;

        .biz-progress-box {
            margin-bottom: 28px;
        }

        .progress {
            &.loading {
                background-color: #fafbfd;
                background-image: repeating-linear-gradient(90deg, #fafbfd, #fafbfd 20px, #f0f1f5 20px, #f0f1f5 60px);
                background-size: 250px 100%;
                animation: progressLoading 5s linear infinite;
            }
            .progress-bar {
                transition: width 1s ease;
            }
        }

        &.more-info {
            padding: 20px 24px 0 24px;
            .biz-progress-box {
                margin-bottom: 20px;
                .progress-header {
                    margin-bottom: 5px;
                }
            }
        }

        .lds-spinner {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

        .status-progress-loading {
            width: 20px;
            height: 20px;
            position: relative;
            .spl-circle {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                &:before {
                    content:'';
                    display: block;
                    margin: 0 auto;
                    width: 15%;
                    height: 15%;
                    background-color: #3a84ff;
                    border-radius: 100%;
                    animation: status-progress-loading 1.2s infinite ease-in-out both;
                }
            }
            .spl-circle2 {
                transform: rotate(30deg);
                &:before {
                    animation-delay: -1.1s;
                }
            }
            .spl-circle3 {
                transform: rotate(60deg);
                &:before {
                    animation-delay: -1s;
                }
            }
            .spl-circle4 {
                transform: rotate(90deg);
                &:before {
                    animation-delay: -0.9s;
                }
            }
            .spl-circle5 {
                transform: rotate(120deg);
                &:before {
                    animation-delay: -0.8s;
                }
            }
            .spl-circle6 {
                transform: rotate(150deg);
                &:before {
                    animation-delay: -0.7s;
                }
            }
            .spl-circle7 {
                transform: rotate(180deg);
                &:before {
                    animation-delay: -0.6s;
                }
            }
            .spl-circle8 {
                transform: rotate(210deg);
                &:before {
                    animation-delay: -0.5s;
                }
            }
            .spl-circle9 {
                transform: rotate(240deg);
                &:before {
                    animation-delay: -0.4s;
                }
            }
            .spl-circle10 {
                transform: rotate(270deg);
                &:before {
                    animation-delay: -0.3s;
                }
            }
            .spl-circle11 {
                transform: rotate(300deg);
                &:before {
                    animation-delay: -0.2s;
                }
            }
            .spl-circle12 {
                transform: rotate(330deg);
                &:before {
                    animation-delay: -0.1s;
                }
            }
        }
    }
}

@keyframes status-progress-loading {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes progressLoading {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 250px 0%;
    }
}
