{
  "bcs_zookeeper": "${bcsZkHost}",
  "v": 3,
  "log_dir": "${log_dir}",
  "pid_dir": "${pid_dir}",
  "prom_file_prefix": "${promBCSConfigDir}",
  "enable_service": true,
  "enable_mesos": false,
  "enable_node": false
}