# Default values for istio-policy-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: 
  # This sets the pull policy for images.
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80


istioPolicyConfig: |
  global:
    trafficPolicy:
      connectionPool: {}
      tunnel: {}
      loadBalancer:
        simple: RANDOM
        localityLbSetting:
          enabled: true
          failover:
            - from: gz
              to: nj
    setting:
      mergeMode: override
      deletePolicyOnServiceDelete: true
      updateUnmanagedResources: true
      autoGenerateVS: true
  services:
    - name: my-svc
      namespace: bcs-system
      trafficPolicy:
        loadBalancer:
          simple: RANDOM
      setting:
        mergeMode: override
        deletePolicyOnServiceDelete: true
        updateUnmanagedResources: true