{
  "cniVersion": "0.3.0",
  "name": "bcs-eni-cni",
  "type": "bcs-eni-cni",
  "cloudAgentEndpoint": "${cloudNetagentAddress}:${cloudNetagentPort}",
  "logDir": "${cloudNetagentLogDir}",
  "mtu": ${bcsCniMtu},
  "ipam": {
    "type": "bcs-eni-ipam",
    "routes": [
      {"dst":"0.0.0.0/0"}
    ]
  }
}