.all-checked .bk-checkbox {
    background-color: #fff !important;
}
.all-checked .bk-checkbox::after {
    border-color: #3a84ff !important;
}
.indeterminate .bk-checkbox::after {
    background: #3a84ff;
}
.check-mode-angle {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.menu-list {
    padding: 5px 0;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.menu-list-item {
    height: 32px;
    line-height: 32px;
    color: #63656e;
    cursor: pointer;
    padding: 0 16px;
}
.menu-list-item.active {
    color: #3a84ff;
    background-color: #eaf3ff;
}
.menu-list-item.disabled {
    color: #c4c6cc;
    cursor: not-allowed;
}
