<!DOCTYPE html>
<html>

<head>
    <title>BCS Console / {{ .title }}</title>
    <link rel="icon" href="{{ .settings.SITE_URL }}/web/static/images/favicon.ico" />
    <link rel="stylesheet" href="{{ .settings.SITE_STATIC_URL }}/web/static/assets/xterm/css/xterm.css" />
    <link rel="stylesheet" href="{{ .settings.SITE_STATIC_URL }}/web/static/assets/vue/bk-magic-vue.min.css">
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/xterm/lib/xterm.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/xterm-addon-web-links/lib/xterm-addon-web-links.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/throttle-debounce.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/base64.min.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/axios.min.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/jquery.min.js"></script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #111;
            margin: 0px;
            background-color: #000;
            font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
        }

        .xterm .xterm-viewport {
            overflow-y: hidden !important;
        }

        .bk-tooltip,
        .bk-tooltip-ref {
            display: block;
        }

        #terminal-container {
            margin: 0 auto;
            color: #fff;
            width: 100%;
            height: calc(100vh - 42px);
        }

        .footer-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 36px;
            background-color: #fafbfd;
            border: 1px solid #dcdee5;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .upload-panel {
            display: flex;
            flex-direction: column;
        }

        .upload-panel .upload-panel-input {
            margin-bottom: 30px;
        }

        .download-panel {
            display: flex;
            flex-direction: column;
        }

        .download-panel .download-panel-input {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="terminal-container"></div>
        <div class="footer-container">
            <div class="shell-selector" style="margin-right: 30px;">
                <bk-select size="small" :disabled="false" v-model="shell" style="width: 100px;" ext-cls="select-custom" ext-popover-cls="select-popover-custom">
                    <bk-popconfirm width="288" trigger="click" :title="$t('message.shell')" :content="$t('message.operator')" @confirm="handleConfirmChangeShell" @cancel="handleCancelChangeShell">
                        <bk-option v-for="option in shellList" :key="option.key" :id="option.id" :name="option.name"> </bk-option>
                    </bk-popconfirm>
                </bk-select>
            </div>
            <div class="footer-icon-item" style="margin-right: 30px; cursor: pointer">
                <bk-icon type="download" @click="openDownloadDialog" />
            </div>
            <!-- <div class="footer-icon-item" style="margin-right: 30px; cursor: pointer">
                <bk-icon type="question-circle" @click="openDocumentDialog" />
            </div> -->
        </div>
        <bk-dialog v-model="downloadDialogVisiable" width="720" :show-footer="false">
            <bk-tab :active.sync="updownloadPanel" type="unborder-card">
                <bk-tab-panel name="upload" :label="$t('message.upload')">
                    <div class="upload-panel">
                        <div class="upload-panel-input">
                            <bk-input :clearable="true" v-model="uploadPath" :placeholder="$t('message.uploadPath')"></bk-input>
                        </div>
                        <bk-upload :key="key" :tip="$t('message.uploadLimit')" name="file" :size="30" :form-data-attributes="uploadData" @on-success="uploadSuccess" @on-progress="uploadProgress" @on-done="uploadDone" @on-error="uploadError"
                            :url="'{{ .settings.SITE_STATIC_URL }}/api/sessions/' + sessionID + '/upload/'">
                        </bk-upload>
                    </div>
                </bk-tab-panel>
                <bk-tab-panel name="download" :label="$t('message.download')">
                    <div class="download-panel">
                        <div class="download-panel-input">
                            <bk-input :clearable="true" v-model="downloadPath" :placeholder="$t('message.downloadPath')"></bk-input>
                        </div>
                        <bk-button theme="primary" :title="$t('message.download')" icon="download" :disabled="downloadDisabled" :loading="downloadBtnLoading" @click="handleClickDownload"> {{ .download }}</bk-button>
                    </div>
                </bk-tab-panel>
            </bk-tab>
        </bk-dialog>
        <!-- <bk-dialog v-model="documentDialogVisiable" width="720" title="帮助">
            {{range $val := .guide_doc_links }}
            {{$val}}
            <br />
            {{end}}
        </bk-dialog> -->
    </div>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/vue/vue.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/vue/vue-i18n.js"></script>
    <script src="{{ .settings.SITE_STATIC_URL }}/web/static/assets/vue/bk-magic-vue.min.js"></script>
    <script type="text/javascript" defer>
        var localeLang = "{{ .Language }}"
        if (localeLang == "en") {
            localeLang = "enUS"
        } else {
            localeLang = "zhCN"
        }
        window.bkMagicVue.locale.use(window.bkMagicVue.locale.lang[localeLang])
        var app = new Vue({
            i18n: new VueI18n({
                locale: '{{ .Language }}',
                messages: {
                    en: {
                        message: {
                            upload: 'Upload',
                            uploadPath: 'Please enter the upload path first',
                            uploadLimit: 'File limit is less than 30Mb, and folder upload is not supported.',
                            download: 'Download',
                            downloadPath: 'Please enter the download path first. Folder download is not supported.',
                            shell: 'Switch the shell type?',
                            operator: 'The action will refresh the page!',
                            uploadSuccess: 'UploadSuccess',
                            uploadFailed: 'UploadFailed',
                            downloadFailed: 'Download request failed',
                            connect: 'The connection is disconnected',
                            reconnect: 'Reconnect',
                            requestFailed: 'Request failed',
                            apply: 'Go to apply'
                        }
                    },
                    zh: {
                        message: {
                            upload: '上传',
                            uploadPath: '请先输入上传路径',
                            uploadLimit: '文件限制小于30Mb, 暂不支持文件夹上传',
                            download: '下载',
                            downloadPath: '请先输入下载路径,暂不支持文件夹下载',
                            shell: '是否切换shell类型?',
                            operator: '操作将会刷新页面！',
                            uploadSuccess: '上传成功',
                            uploadFailed: '上传失败',
                            downloadFailed: '下载请求失败',
                            connect: '连接已断开',
                            reconnect: '重新连接',
                            requestFailed: '请求失败',
                            apply: '前往申请'
                        }
                    }
                }
            }),
            delimiters: ['$[', ']'],
            el: '#app',
            data() {
                return {
                    sessionID: "",
                    sessionUrl: "{{ .session_url }}",
                    permRequestUrl: "{{ .perm_request_url }}",
                    term: {},
                    ws: {},
                    fitAddon: {},
                    webLinksAddon: {},
                    shell: 1,
                    shellList: [
                        { id: 1, key: 'sh', name: 'sh' },
                        { id: 2, key: 'bash', name: 'bash' },
                    ],
                    downloadDialogVisiable: false,
                    documentDialogVisiable: false,
                    updownloadPanel: "upload",
                    uploadPath: "/tmp",
                    downloadPath: "",
                    downloadBtnLoading: false,
                    key: "downloadKey",
                    lang: '{{ .Language }}',
                }
            },
            computed: {
                uploadData() {
                    return [{ name: 'upload_path', value: this.uploadPath }];
                },
                downloadDisabled() {
                    return this.downloadPath === '';
                }

            },
            watch: {
                downloadDialogVisiable(value) {
                    if (!value) {
                        this.downloadPath = ""
                        this.uploadPath = "/tmp"
                        this.key = String(new Date().getTime())
                    }
                }
            },
            methods: {
                handleClickDownload() {
                    this.downloadBtnLoading = true;
                    axios.get("{{ .settings.SITE_STATIC_URL }}/api/sessions/" + this.sessionID + "/download/check/?download_path=" + this.downloadPath + "&lang=" + this.lang)
                        .then((res) => {
                            if (res.data.data.passed) {
                                window.location.href = "{{ .settings.SITE_STATIC_URL }}/api/sessions/" + this.sessionID + "/download/?download_path=" + this.downloadPath
                            } else {
                                this.$bkMessage({ theme: 'error', message: res.data.data.reason })
                            }
                        })
                        .catch(() => {
                            this.$bkMessage({ theme: 'error', message: this.$t('message.downloadFailed') })
                        })
                        .finally(() => {
                            this.downloadBtnLoading = false;
                        });
                },
                uploadSuccess() {
                    this.$bkMessage({ theme: 'success', message: this.$t('message.uploadSuccess') })
                },
                uploadProgress() {
                    // this.$bkMessage({ theme: 'info', message: "上传中"})
                },
                uploadDone() {
                    // this.$bkMessage({ theme: 'success', message: "上传完成"})
                },
                uploadError() {
                    this.$bkMessage({ theme: 'error', message: this.$t('message.uploadFailed') })
                },
                resetShell() {
                    url = new URL(window.location.href);
                    shell = url.searchParams.get("shell")
                    if (shell === 'bash') {
                        this.shell = 2
                    } else if (shell === 'sh') {
                        this.shell = 1
                    }
                },
                handleConfirmChangeShell() {
                    url = new URL(window.location.href);
                    origionShell = url.searchParams.get("shell")
                    switch (this.shell) {
                        case 1:
                            url.searchParams.set("shell", "sh")
                            break
                        case 2:
                            url.searchParams.set("shell", "bash")
                            break
                        default:
                            url.searchParams.set("shell", origionShell)
                    }
                    window.location.href = url.toString()
                },
                handleCancelChangeShell() {
                    this.resetShell()
                },
                openDownloadDialog() {
                    this.downloadDialogVisiable = true;
                },
                openDocumentDialog() {
                    this.documentDialogVisiable = true;
                },
                debounceFit() {
                    const self = this
                    throttleDebounce.debounce(200, false, function () {
                        self.fitAddon.fit();
                    })
                },
                get_session_id() {
                    const self = this
                    self.term.write('\x1b[32mLaunching BCS Console...\x1b[m');
                    $.getJSON(self.sessionUrl, function (result) {
                        if (result.code != 0) {
                            self.term.reset();
                            self.term.write("\x1b[31mLaunch Error: " + result.message + "\x1b[m\r\n");
                        } else {
                            self.sessionID = result.data.session_id
                            ws_url = self.auto_selected_protocol_ws_url(result.data.ws_url)
                            self.ws_connect(ws_url);
                        }
                    }).fail(function (result) {
                        self.term.reset();
                        self.term.write("\x1b[31mLaunch Error: " + result.responseJSON.message + "\x1b[m\r\n");
                        // 未登入
                        const h = self.$createElement
                        if (result.status == 403) {
                            self.$bkInfo({
                                type: 'warning',
                                title: result.responseJSON.message,
                                showFooter: false,
                                closeIcon: false,
                                escClose: false,
                                maskClose: false,
                                subHeader: h('div', {}, [
                                    h('bk-button', {
                                        attrs: {
                                            theme: "primary",
                                        },
                                        on: {
                                            click: () => {
                                                window.open(self.permRequestUrl);
                                            }
                                        }
                                    }, self.$t('message.apply')),
                                ]),
                                delay: 0
                            })
                        } else {
                            self.$bkInfo({
                                type: 'error',
                                title: self.$t('message.requestFailed'),
                                subTitle: result.responseJSON.message,
                                showFooter: false,
                                maskClose: false,
                                closeIcon: false,
                                delay: 0
                            })
                        }
                    })
                },
                auto_selected_protocol_ws_url(ws_url) {
                    // 已经包含了 schema, 直接返回
                    if (ws_url.startsWith("ws://") || ws_url.startsWith("wss://")) {
                        return ws_url
                    }
                    protocol = "ws"
                    if (window.location.protocol == "https:") {
                        protocol = "wss"
                    }
                    return protocol + "://" + window.location.host + ws_url
                },
                ws_connect(raw_ws_url) {
                    // 初始化就指定rows & cols
                    const self = this;
                    ws_url = new URL(raw_ws_url);
                    ws_url.searchParams.set("rows", self.term.rows)
                    ws_url.searchParams.set("cols", self.term.cols)
                    self.ws = new WebSocket(ws_url.toString());

                    // term handler
                    self.term.onData(function (data) {
                        // STDIN_CHANNEL = 0
                        self.ws.send('0' + Base64.encode(data));
                    });

                    // 使用 BCS API 首个字节流判断是否连接
                    notConnected = true

                    self.ws.onmessage = function (e) {
                        if (notConnected) {
                            self.term.reset();
                            self.term.focus();
                            notConnected = false
                        }

                        // obj = JSON.parse(e.data);
                        self.term.write(Base64.decode(e.data));
                    };

                    // websocket handler
                    self.ws.onopen = function () {
                        self.term.reset();

                        // 后台连接中, 等待 BCS API 首个字节流
                        self.term.write('\x1b[32mConnecting BCS API...\x1b[m');
                    };

                    const h = self.$createElement
                    self.ws.onclose = function (e) {
                        let result = self.$t('message.connect')
                        if (e.reason != "") {
                            result = e.reason
                        }
                        self.$bkInfo({
                            type: 'warning',
                            title: self.$t('message.connect'),
                            showFooter: false,
                            maskClose: false,
                            subHeader: h('div', {}, [
                                h('div', {
                                    style: {
                                        marginBottom: '20px'
                                    },
                                }, result),
                                h('bk-button', {
                                    attrs: {
                                        theme: "primary",
                                        title: self.$t("message.reconnect"),
                                    },
                                    on: {
                                        click: () => {
                                            location.reload();
                                        }
                                    }
                                }, self.$t("message.reconnect")),
                            ]),
                            delay: 0
                        })
                    }
                },
                focusTerminal() {
                    this.term.focus();
                },
                init() {
                    const self = this
                    self.fitAddon = new FitAddon.FitAddon();
                    self.webLinksAddon = new WebLinksAddon.WebLinksAddon();

                    self.term = new Terminal({
                        fontFamily: "Courier New, courier-new, courier, monospace",
                        useStyle: true,
                        cols: 180,
                        allowProposedApi: true
                    });

                    self.term.options.cursorBlink = true;

                    self.term.loadAddon(self.fitAddon);
                    self.term.loadAddon(self.webLinksAddon);

                    self.term.open(document.getElementById('terminal-container'));
                    self.fitAddon.fit();

                    window.onresize = throttleDebounce.debounce(200, false, function () {
                        self.fitAddon.fit();
                        data = JSON.stringify({ cols: self.term.cols, rows: self.term.rows })
                        // set_pty_size()
                        if (typeof self.ws != "undefined" && self.ws.readyState == 1) {
                            // RESIZE_CHANNEL = 4
                            self.ws.send('4' + Base64.encode(data));
                        }
                    })

                    self.term.attachCustomKeyEventHandler(function (e) {
                        if (e.altKey && (e.code == 'KeyW')) {
                            event.preventDefault();
                            // send ctrl-w
                            self.term.__socket.send('\x17');
                            return false;
                        } else if (e.altKey && (e.code == 'KeyN')) {
                            event.preventDefault();
                            if (window.parent) {
                                window.parent.postMessage({
                                    type: 'shortcut',
                                    key: 'showDropdown'
                                }, window.location.origin)
                            }
                            return false;
                        } else if (event.altKey && (event.keyCode >= 49 && event.keyCode <= 57)) {
                            event.preventDefault();
                            if (window.parent) {
                                window.parent.postMessage({
                                    type: 'shortcut',
                                    key: 'activeTab',
                                    value: event.keyCode
                                }, window.location.origin)
                            }
                            return false;
                        }
                    })
                },
            },
            mounted() {
                this.resetShell()
                this.init()
                this.get_session_id()
            },
        })
    </script>
</body>

</html>