
@import '@/css/variable.css';
@import '@/css/mixins/scroller.css';

.biz-cluster-guide {
    width: 380px;
    padding: 40px 30px;
    position: fixed;
    right: -380px;
    top: 0;
    z-index: 10000;
    background: #fff;
    border-left: 1px solid #ebf0f5;
    font-size: 14px;
    color: #737987;
    bottom: 0;
    margin: auto;
    height: 100%;
    overflow: auto;
    text-align: justify;
    transition: all ease 0.3s;

    &.show {
        right: 0;
    }

    @mixin scroller #191929;

    .title {
        font-size: 18px;
        color: #333948;
        margin: 0;
        padding: 0;
        margin-bottom: 18px;
    }

    .text {
        line-height: 24px;
        padding: 0;
        margin: 0 0 15px 0;

        strong {
            color: #52525d;
        }
    }

    dt {
        font-weight: bold;
        margin-bottom: 6px;
        padding-left: 0;
        position: relative;
    }

    dd {
        margin-bottom: 15px;
        line-height: 24px
    }

    .operate {
        margin-top: 25px;
    }
}

.biz-actions {
    float: right;
    margin: 14px 20px;
    line-height: 30px;

    .bk-text-button {
        font-size: 14px;
        float: right;
        margin-left: 15px;
    }

    .button {
        width: 32px;
        height: 32px;
        border: none;
        background: transparent;
        font-size: 26px;
        color: #c3cdd7;
        padding: 0;
        margin: 0 3px;
        line-height: 1;
    }
}

@media screen and (max-width: $mediaWidth) {
    .biz-cluster-guide {
        width: 320px;
    }
}
