{
  "address": "${localIp}",
  "port": ${bcsNetServicePort},
  "metric_port": ${bcsNetServiceMetricPort},
  "bcs_zookeeper": "${bcsZkHost}",
  "log_dir": "${log_dir}",
  "pid_dir": "${pid_dir}",
  "ca_file": "${caFile}",
  "server_cert_file": "${serverCertFile}",
  "server_key_file": "${serverKeyFile}"
}
