.markdown-body {
    --color-bg-canvas: #fff;
    --color-text-primary: #24292e;
    --color-text-link: #0366d6;
    --color-bg-secondary: #fafbfc;
    --color-border-tertiary: #d1d5da;
    --color-border-info: #0366d6;
    --color-border-primary: #e1e4e8;
    --color-border-secondary: #ebedef;
    --color-markdown-blockquote-border: #e0e3e6;
    --color-text-tertiary: #6a737d;
    --color-markdown-table-border: #e0e3e6;
    --color-bg-primary: #fff;
    --color-bg-tertiary: black;
    --color-markdown-table-tr-border: #c6cbd2;
    --color-markdown-code-bg: rgba(27,31,35,0.05);
    --color-diff-blob-num-text: rgba(27,31,35,0.3);
    --color-diff-blob-num-hover-text: rgba(27,31,35,0.6);
    --color-prettylights-syntax-comment: #6a737d;
    --color-prettylights-syntax-constant: #005cc5;
    --color-prettylights-syntax-entity: #6f42c1;
    --color-prettylights-syntax-storage-modifier-import: #24292e;
    --color-prettylights-syntax-entity-tag: #22863a;
    --color-prettylights-syntax-keyword: #d73a49;
    --color-prettylights-syntax-string: #032f62;
    --color-prettylights-syntax-variable: #e36209;
    --color-prettylights-syntax-brackethighlighter-unmatched: #b31d28;
    --color-prettylights-syntax-invalid-illegal-text: #fafbfc;
    --color-prettylights-syntax-invalid-illegal-bg: #b31d28;
    --color-prettylights-syntax-carriage-return-text: #fafbfc;
    --color-prettylights-syntax-carriage-return-bg: #d73a49;
    --color-prettylights-syntax-string-regexp: #22863a;
    --color-prettylights-syntax-markup-list: #735c0f;
    --color-prettylights-syntax-markup-heading: #005cc5;
    --color-prettylights-syntax-markup-italic: #24292e;
    --color-prettylights-syntax-markup-bold: #24292e;
    --color-prettylights-syntax-markup-deleted-text: #b31d28;
    --color-prettylights-syntax-markup-deleted-bg: #ffeef0;
    --color-prettylights-syntax-markup-inserted-text: #22863a;
    --color-prettylights-syntax-markup-inserted-bg: #f0fff4;
    --color-prettylights-syntax-markup-changed-text: #e36209;
    --color-prettylights-syntax-markup-changed-bg: #ffebda;
    --color-prettylights-syntax-markup-ignored-text: #f6f8fa;
    --color-prettylights-syntax-markup-ignored-bg: #005cc5;
    --color-prettylights-syntax-meta-diff-range: #6f42c1;
    --color-prettylights-syntax-brackethighlighter-angle: #586069;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #959da5;
    --color-prettylights-syntax-constant-other-reference-link: #032f62;
}

.markdown-body.dark {
    --color-bg-canvas: #0d1117;
    --color-text-primary: #c9d1d9;
    --color-text-link: #58a6ff;
    --color-bg-secondary: #0d1117;
    --color-border-tertiary: #6e7681;
    --color-border-info: rgba(56,139,253,0.4);
    --color-border-primary: #30363d;
    --color-border-secondary: #21262d;
    --color-markdown-blockquote-border: #3a424a;
    --color-text-tertiary: #8b949e;
    --color-markdown-table-border: #3a424a;
    --color-bg-primary: #0d1117;
    --color-bg-tertiary: #161b22;
    --color-markdown-table-tr-border: #262b31;
    --color-markdown-code-bg: rgba(240,246,252,0.15);
    --color-diff-blob-num-text: rgba(240,246,252,0.3);
    --color-diff-blob-num-hover-text: rgba(240,246,252,0.6);
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
}