@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';

.biz-app-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.biz-crdcontroller {
    margin: 0 20px;
    .biz-controller-item {
        position: relative;
        background: #FFF;
        border: 1px solid #dde4eb;
        border-radius: 2px;
        transition: all .5s;
        margin: 0 20px 20px 0;
        width: 208px;
        float: left;
        text-align: center;
        cursor: pointer;
        position: relative;

        &:hover {
            border-color: $primaryColor;

            .desc {
                opacity: 1;
            }
        }
        .logo {
            margin: 24px 0 0;
            height: 48px;
        }
        .title {
            font-weight: 700;
            color: #5d6075;
            line-height: 34px;
            overflow: hidden;
            padding: 10px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            font-size: 16px;
        }
        .action {
            color: #555;
            display: block;
            line-height: 40px;
            font-size: 14px;
            border-top: 1px solid #dde4eb;
            padding: 0 10px;
            background: #fafafa;
        }
        .desc {
            display: block;
            line-height: 16px;
            font-size: 12px;
            border-top: 1px solid #dde4eb;
            padding: 45px 10px 0 10px;
            text-align: left;
            transition: all ease 0.3s;
            position: absolute;
            background: rgba(0, 0, 0, .5);
            top: -1px;
            left: 0px;
            width: 100%;
            height: 133px;
            border-radius: 2px 2px 0 0;
            color: #fafbfd;
            opacity: 0;
        }
    }
}

.biz-text-wrapper {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.biz-inner-table {
    width: 100%;
    border: 1px solid $borderColor;

    tr {
        height: 80px;
    }

    td {
        background: #fff;

        border-right: none;
        border-left: none;
    }

    .logo {
        width: 100px;
        text-align: center;
        border-right: 1px solid $borderColor;

        .logo-wrapper {
            width: 100px;
            i {
                font-size: 48px;
                color: #42a5d8;
            }
        }

        img {
            width: 60px;
            border-right: none;
        }
    }

    .name {
        width: 200px;
        padding: 0 10px 0 20px;
    }

    .status {
        width: 150px;
        padding: 0 10px 0 20px;
    }

    .description {
        padding-right: 10px;
    }

    .log-name {
        width: 110px;
        padding: 0 10px 0 20px;
    }

    .log-status {
        width: 100px;
        padding: 0 10px 0 20px;
    }

    .log-source {
        width: 390px;
        padding: 0 10px 0 20px;
    }

    .action {
        width: 150px;
        .bk-primary.bk-button-normal {
            min-width: 88px;
        }
    }

    strong {
        display: block;
    }

    button.btn {
        transition: none;

        &:hover {
            background-color: #3a84ff;
            border-color: #3a84ff;
            opacity: 1;
            color: #fff;
        }
    }
}

.biz-templateset-table {
    border: 1px solid #dfe0e5;
    border-bottom: none;

    &.bk-table>thead>tr>th {
        height: 42px;
        background-color: #ebf0f5;
        color: #52525d;
    }

    &..bk-table td,
    &..bk-table th.is-leaf {
        border-bottom: none;
    }
}

.biz-templateset-table>tbody>tr {
    &:first-child {
        >td {
            padding-top: 20px;
        }
    }

    &:last-child {
        >td {
            padding-bottom: 20px;
        }
    }

    &:hover {
        .resoruce-selector {
            display: inline-block;
        }
    }
}

.biz-templateset-table>tbody>tr>td {
    padding: 10px 0 0 0;
    border: none;

    &:first-child {
        padding-left: 20px;

        .templateset-val-box {
            border-left: 1px solid $borderWeightColor;
            border-right: 1px solid $borderWeightColor;
            border-radius: 2px 0 0 2px;
        }
    }

    &:last-child {
        padding-right: 20px;

        .templateset-val-box {
            border-right: 1px solid $borderWeightColor;
            border-radius: 0 2px 2px 0;
        }
    }

    .resoruce-selector {
        position: absolute;
        right: 148px;
        width: 100px;
        display: none;
    }

    .templateset-val-box {
        width: 100%;
        min-height: 100px;
        background: #fff;
        vertical-align: middle;
        border-top: 1px solid $borderWeightColor;
        border-bottom: 1px solid $borderWeightColor;
        display: table;
        color: $fontColor;
        font-size: 12px;
        line-height: 1;

        .title {
            margin: 0 0 12px 0;
            font-size: 14px;
            color: #5d6075;
        }

        .vertion {
            margin: 0 0 8px 0;
        }

        .url {
            font-size: 14px;
            margin: 0 0 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 500px;

            &:first-child {
                margin-top: 5px;
            }
        }

        strong {
            font-size: 14px;
            display: block;
            margin-bottom: 10px;

            &:first-child {
                margin-top: 5px;
            }
        }
    }
}

.center {
    text-align: center !important;
}

.biz-cluster-wrapper {
    background: #fafafa;
    border: 1px solid #c4c6cc;
    padding: 0 10px;
    height: 36px;
    line-height: 34px;
    float: right;
    margin-right: -2px;
    border-radius: 2px 0 0 2px;
    font-size: 13px;
}

/deep/ .editor-slider {
    .bk-sideslider-wrapper {
        background: #272822;
    }

    .bk-sideslider-title {
        background: #FFF;
    }
}

.save-crd-btn {
    position: absolute;
    top: 13px;
    right: 90px;
}

.hide-crd-btn {
    position: absolute;
    top: 13px;
    right: 13px;
}

.bk-tag.bk-danger {
    cursor: pointer;
}

@media screen and (max-width: $mediaWidth) {
    .biz-text-wrapper {
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }
}
