@import '@/css/variable.css';
@import '@/css/mixins/ellipsis.css';
@import '@/css/mixins/clearfix.css';

.biz-crd-instance-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;

    .back {
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: -1px;
        color: #3a84ff;
    }

    .info {
        font-size: 12px;
        color: #979ba5;
    }
}

.label-icon {
    position: absolute;
    right: -10px;
}

.key-list {
    overflow: hidden;
    @mixin clearfix;

    li {
        float: left;
        margin: 0 5px 0 0;
        border: 1px solid $borderWeightColor;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
    }

    .key,
    .value {
        float: left;
        line-height: 22px;
        text-align: left;
        padding: 0 10px;
        font-size: 12px;
        color: #737987;
    }

    .value {
        border-left: 1px solid $borderWeightColor;
        background-color: #fafbfd;
    }
}

.data-title {
    font-size: 14px;
    color: #333948;
    margin-bottom: 10px;
}


.point-box {
    border: 1px solid $borderWeightColor;
    margin: 8px 0 0 0;
    padding: 15px 15px 10px 15px;
    position: relative;
    border-radius: 2px;

    &:after {
        content: '';
        width: 8px;
        height: 8px;
        display: inline-block;
        border-top: 1px solid #dde4eb;
        border-right: 1px solid #dde4eb;
        transform: rotate(-45deg);
        position: absolute;
        top: -6px;
        left: 39px;
        background: #fff;
    }
}

.key-tip-wrapper {
    height: 34px;

    .key-tip {
        line-height: 34px;
    }
}

.search-wrapper {
    .left {
        margin-left: 10px;
    }
}

.log-wrapper {
    border: 1px solid #DCDEE5;
    border-radius: 2px;
    padding: 20px;
    background: #FAFBFD;
}

.log-form {
    width: 100%;
    display: flex;

    &.no-flex {
        display: block;
    }

    .label {
        width: 92px;
        height: 32px;
        line-height: 32px;
        color: #737987;
        padding-right: 20px;
        font-size: 14px;
        text-align: right;
    }
    .content {
        flex: 1;
    }
}

.log-flex {
    display: flex;
}

.log-inner-wrapper {
    padding: 20px 15px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #DCDEE5;
    position: relative;

}

.log-block-btn {
    width: 100%;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #979BA5;
    border: 1px dashed #C4C6CC;
    border-radius: 2px;
    box-sizing: border-box;

    &:hover {
        border: 1px solid #3a84ff;
        color: #3a84ff;
    }

    .bcs-icon {
        font-weight: bold;
        position: relative;
        top: -3px;
        font-size: 12px;
        margin-right: 2px;
        color: #979BA5;
    }
}

.log-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 50% 50%;
    cursor: pointer;
    font-size: 12px;

    &:hover {
        background-color: #f3f3f3;
    }
}

.config-wrapper {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 15px;
    background: #fafafa;
}

.biz-metadata-box {
    background: #fff;
}

.biz-metadata-box .data-item .value {
    font-size: 12px;
}

.biz-crd-instance .biz-table-wrapper {
    overflow-x: auto;
}

.log-file-input {
    color: red;
    input {
        transition: all ease 0.3;
        background: #fff;
        &:focus {
            border-color: red;
            position: absolute;
            height: 60px;
        }
    }
}

.path-text {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}


.data-title {
    font-weight: normal;
    font-size: 14px;
    color: #313238;
    margin-bottom: 13px;
}

.biz-metadata-box {
    &.vertical {
        display: block;
        border: none;

        .data-item {
            display: flex;
            border: none;
            padding: 0 0 10px 0;

            > .key {
                text-align: right;
                font-size: 14px;
                color: #979BA5;
                display: inline-block;
                margin-bottom: 0;
                min-width: 120px;
            }

            .value {
                color: #63656E;
                font-size: 14px;
                flex: 1;
            }
        }
    }
}

.bk-log-table {
    border: 1px solid #DCDEE5;

    thead {
        th {
            background: #FAFBFD;
            height: 42px;
            color: #313238;
            font-size: 12px;
        }
    }

    tbody {
        tr {
            td {
                color: #63656E;
                font-size: 12px;
            }
        }
    }
}

.log-key-value {
    display: flex;
}

.biz-content-wrapper {
    /deep/ .v-tooltips-container .v-tooltips-content {
        max-width: 400px;
    }
}

.log-path-wrapper {
    height: 36px;
    position: relative;
    .bk-form-textarea {
        height: 36px;
        min-height: 36px;
        line-height: 18px;
        transition: all ease 0.3s;
        padding: 8px 10px;

        &:focus {
            position: absolute;
            left: 0;
            top: 0;
            height: 72px;
            z-index: 1;
        }
    }
}

.log-path-list {
    padding-left: 20px;
    flex: 1;
    li {
        list-style: disc;
        margin-left: 0px;
        list-style-position: outside;
        word-break: break-all;
        white-space: normal;
    }
}

.path-tip-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.log-tip {
    border: 1px solid #FFB848;
    background-color: #FFF4E2;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding: 0 12px;
    margin-bottom: 15px;

    .bcs-icon {
        color: #FFB848;
        font-size: 14px;
        margin-right: 3px;
        display: inline-block;
    }

    .desc {
        font-weight: normal;
        color: #63656E;
        display: inline-block;
    }
}

.biz-crd-instance-table {
    >tbody>tr>th,
    >tbody>tr>td {
        height: 50px;
    }
}