apiVersion: v1
kind: Pod
metadata:
  name: bcs-driver
  namespace: kube-system
  labels:
    app: driver
spec:
  hostNetwork: true
  containers:
  - name: bcs-driver
    image: ${kubeDriverImage}
    imagePullPolicy: IfNotPresent
    command: ["./start.sh"]
    args: [
        "-h", "${localIp}",
        "-p", "${kubeDriverPort}",
        "-k", "http://127.0.0.1:8080",
        "-z", "${bcsZkHost}",
        "-i", "",
        "-r", "0",
        "-c", "${clusterId}",
        ]
