{
  "v": 3,
  "cluster_zookeeper": "${mesosZkHost}",
  "prom_file_prefix": "${promBCSConfigDir}",
  "enable_service": false,
  "enable_mesos": true,
  "enable_node": true,
  "log_dir": "${log_dir}",
  "pid_dir": "${pid_dir}",
  "cadvisor_port": ${cadvisorPort},
  "node_exporter_port": ${nodeExporterPort}
}