name: lint
on: [push, pull_request]
jobs:
  bcs-webconsole:
    name: bcs-webconsole
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: bcs-services/bcs-webconsole/go.mod
      - name: go mod tidy check
        uses: katexochen/go-tidy-check@v2
        with:
          modules: bcs-services/bcs-webconsole
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          args: --timeout=30m
          working-directory: bcs-services/bcs-webconsole
  bcs-monitor:
    name: bcs-monitor
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: bcs-services/bcs-monitor/go.mod
      - name: go mod tidy check
        uses: katexochen/go-tidy-check@v2
        with:
          modules: bcs-services/bcs-monitor
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          args: --timeout=30m
          working-directory: bcs-services/bcs-monitor
  bcs-bscp:
    name: bcs-bscp
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: bcs-services/bcs-bscp/go.mod
      - name: go mod tidy check
        uses: katexochen/go-tidy-check@v2
        with:
          modules: bcs-services/bcs-bscp
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          args: --timeout=30m --issues-exit-code=0 --skip-dirs=test --skip-dirs=pkg/logs/glog
          working-directory: bcs-services/bcs-bscp
