/* @import '@/css/variable.css'; */
@import '@/css/mixins/ellipsis.css';

.dashboard-top-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin-left: 20px;
}

.base-layout {
    max-width: calc(100vw - 261px);
    .biz-content-wrapper {
        .base-layout-operate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 32px;
            margin-bottom: 20px;
            .resource-create {
                padding-right: 20px;
                width: 100px;
            }
            .search-wapper {
                display: flex;
                .dashboard-select {
                    margin-right: 5px;
                    background: #fff;
                    width: 250px;
                }
                .search-input {
                    width: 320px;
                }
            }
        }
    }
    .detail-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
    }
    .bk-button-group {
        font-weight: normal;
    }
    .bk-sideslider .bk-sideslider-content {
        height: 100%;
    }
    .select-wrapper {
        display: flex;
        .select-prefix {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            border: 1px solid #c4c6cc;
            margin-right: -1px;
            font-size: 12px;
        }
    }
}
