.dashboard-status {
    display: flex;
    align-items: center;
    .status-icon {
        display: inline-block;
        width: 13px;
        height: 13px;
        border: 3px solid #FFE8C3;
        border-radius: 6.5px;
        background: #FF9C01;
        margin-right: 8px;
    }

    .status-name {
        flex: 1;
    }

    .status-red {
        border-color: #ffe6e6;
        background: #ea3636;
    }

    .status-green {
        border-color: #E5F6EA;
        background: #3FC06D;
    }

    .status-blue {
        border-color: #E2EDFF;
        background: #3A84FF;
    }

    .status-gray {
        border-color: #eeeff0;
        background: #979BA5;
    }
}
